{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<style>
.goodsCat{display:inline-block;width:150px}
</style>
{/block}
{block name="js"}
<script src="__STATIC__/plugins/webuploader/webuploader.js?v={$v}" type="text/javascript" ></script>
<script src="__STATIC__/plugins//kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
<script src="__ADMIN__/brands/brands.js?v={$v}" type="text/javascript"></script>
<script>
$(function () {
	   {if condition="$object['brand_id'] !=0 "}
		FI.setValues({$object});
	   {/if}
		$('#brandForm').validator({
		    fields: {
		    	brand_name: {
		    		tip: "请输入品牌名称",
		    		rule: '品牌名称:required;length[~16];'
		    	},
		    	cat_id: {
		    		tip: "请选择分类",
		    		rule: 'checked(1~);length[~16];'
		    	},
		    	brand_desc: {
		    		tip: "请输入品牌介绍",
		    		rule: '品牌介绍:required;'
		    	}
		    },
		    valid: function(form){
		    	var brand_id = $('#brand_id').val();
		    	toEdits(brand_id);
		    }
		})
});
</script>
{/block}
{block name="main"}
<input type='hidden' id='brand_id' value='{$object["brand_id"]}'/>
<div class="l-loading" style="display: block" id="fi-loading"></div>
<form id="brandForm" autocomplete="off">
<table class='fi-form fi-box-top'>
  <tr>
     <th width='150'>品牌名称<font color='red'>*</font>：</th>
     <td><input type="text" id='brand_name' name='brand_name' maxLength='20' style='width:300px;' class='ipt'/></td>
  </tr>
   <tr>
     <th width='150' align='right'>所属分类<font color='red'>*</font>：</th>
     <td>
     {volist name="gcatList" id="vo"}
	     <label class='goodsCat'>
	     <input type='checkbox' id='cat_id' name='cat_id' class="ipt" value='{$vo["cat_id"]}'
       {if condition="$object['brand_id'] !=0 "}
       {if in_array($vo["cat_id"],$object['cat_ids'])==1}checked{/if}
       {/if}
       >&nbsp;{$vo["cat_name"]}&nbsp;
	     </label>
	 {/volist}
     </td>
   </tr>
   <tr width='150'>
     <th align='right'>品牌图标<font color='red'>*</font>：</th>
     <td>
     	<div>
    	<div id="filePicker" style='margin-left:0px;float:left; width: 100px'>上传图片</div>
     	    <div style='margin-left:5px;float:left'>图片大小:400 x 200 (px)，格式为 gif, jpg, jpeg,bmp, png</div>
     	    <input id="brand_img" name="brand_img" class="text ipt" autocomplete="off" type="hidden" value="{$object.brand_img}"/>
     	    <div style="clear:both;"></div>
     	</div>
     </td>
   </tr>
   <tr >
     <th align='right' height='152'>预览图：</th>
     <td >
     	<div id="preview" >
     	{if $object['brand_id']!=0}
       	<img src="__ROOT__/{$object['brand_img']}" class="ipt" height='152'/>
       	{/if}
       	</div>
     </td>
   </tr>
   <tr>
       <th width='150'>品牌介绍<font color='red'>*</font>：</th>
       <td>
       	<textarea id='brand_desc' name='brand_desc' class="form-control ipt" style='width:80%;height:400px'></textarea>
       </td>
    </tr>
     <tr>
       <td colspan='2' align='center'>
           <button type="submit" class="btn btn-blue">保&nbsp;存</button>
           <button type="button" class="btn" onclick="javascript:history.go(-1)">返&nbsp;回</button>
       </td>
     </tr>
</table>
 </form>
 <script>
$(function(){
  //文件上传
	FI.upload({
  	  pick:'#filePicker',
  	  formData: {dir:'brands',mWidth:500,mHeight:250},
  	  accept: {extensions: 'gif,jpg,jpeg,bmp,png',mimeTypes: 'image/*'},
  	  callback:function(f){
  		  var json = FI.toAdminJson(f);
  		  if(json.status==1){
        	$('#preview').html('<img src="'+FI.conf.ROOT+"/"+json.savePath+json.thumb+'" height="200" />');
        	$('#brand_img').val(json.savePath+json.thumb);
  		  }
	  }
    });
  //编辑器
    KindEditor.ready(function(K) {
		editor1 = K.create('textarea[name="brand_desc"]', {
			height:'350px',
			uploadJson : FI.conf.ROOT+'/admin/brands/editorUpload',
			allowFileManager : false,
			allowImageUpload : true,
			items:[
			        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
			        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
			        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
			        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
			        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
			        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|','image','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
			        'anchor', 'link', 'unlink', '|', 'about'
			],
			afterBlur: function(){ this.sync(); }
		});
	});
});
</script>
{/block}