<title>Document</title>
<style type="text/css">
#clist dt {
    display: inline-block;
    float: left;
    clear: left;
    min-width: 40px;
    font-weight: 700;
    color: #555;
    padding: 10px;
}

#clist dd {
    float: left;
    display: inline-block;
    width: 700px;
    height: auto;
    padding: 10px 0 10px 10px;
}

#clist dd:hover {
    background: #dfd;
}

#clist dd a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0 5px 0;
    color: #00f;
    font-size: 14px;
}

#clist dd a:hover {
    color: #f00;
}

</style>
<dl id="clist">
    <?php foreach($list as $key => $val): ?>
    <div class="line">
        <dt>
            <?php echo $val['areaName']; ?>
        </dt>
        <dd>
            <?php foreach($val['_child'] as $k => $v): ?>
            <a href="javascript:void(0);" onclick="setLocation(this, '<?php echo $val['areaId'] ?>','<?php echo $v['areaId'] ?>')"><?php echo $v['areaName'] ?></a>
            <?php endforeach; ?>
        </dd>
    </div>
    <?php endforeach; ?>
</dl>
