@CHARSET "UTF-8";

.fi-wrap {
    margin: 0px auto
}

.fi-main {
    margin: auto;
    width: 1200px;
    min-height: 600px;
    height: auto;
    padding-top: 15px;
}

.fi-menu {
    background: #FFFFFF;
    width: 198px;
    float: left;
    margin-right: 15px;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = #909090,
		direction = 120, strength = 4 );
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.fi-content {
    background: #FFFFFF;
    min-height: 948px;
    height: auto;
    width: 990px;
    float: right;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = #909090,
		direction = 120, strength = 4 );
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.fi-footer {
    border-top: 1px solid #ddd;
    margin-top: 5px;
}

.fi-menu-title {
    position: relative;
    width: 143px;
    display: block;
    padding: 10px 5px 10px 50px;
    font-weight: bolder;
    border-top: 1px solid #ccc;
    color: #000000;
    font-size: 16px;
    font-family: "microsoft yahei";
    background: #e9e9e9;
    cursor: pointer;
}

.fi-menu-title img {
    padding: 0px 0px 3px 6px;
}

.fi-menu {
    width: 198px;
    margin: 0px;
    padding: 0px;
    min-height: 948px;
}

.fi-menu li {
    list-style-type: none;
    padding: 0px 0px 0px 50px;
    height: 35px;
    line-height: 35px;
    color: #6a6868;
    cursor: pointer
}

.fi-menu li:hover,li.fi-menua {
    font-weight: bolder;
    color: #e23e3d;
    border-left: 2px solid #e23e3d;
    background: rgba(150,150,150,0.1);
}

.fi-menu .selected {
    background-color: #e23e3d;
    font-weight: bolder;
    color: #ffffff;
}

.fi-menu .liselect {
    background-color: #e23e3d;
    font-weight: bolder;
    color: #ffffff;
}

.fi-list {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.fi-list thead tr th {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-left: 5px;
    background: #EEEEEE;
}

.fi-list tbody tr td {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 5px;
}

.fi-list tbody tr:nth-child(even) {
    background: #FCFAE1;
}

a:active,a:hover {
    text-decoration: none;
    color: #e23c3d;
}

.fi-form {
    border-collapse: collapse;
}

.fi-form tr {
    height: 30px;
    line-height: 30px;
}

.fi-form tr th {
    color: #707070;
    text-align: right
}

.fi-form tr td {
    text-align: left
}

.fi-form input,textarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #f0f0f0 inset;
    font-family: inherit;
    font-size: 100%;
    margin: 3px;
    padding: 5px;
    vertical-align: middle;
}

.fi-form select {
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    font-family: inherit;
    font-size: 100%;
    vertical-align: middle;
    margin: 3px;
}

.fi-form select option {
    padding: 2px;
}

.fi-shop-nav {
    background-color: #e23c3d;
    border-top: 6px solid #e23c3d;
    text-align: center;
}

.fi-nav-box {
    width: 1200px;
    margin: 0 auto;
    line-height: 33px;
    color: #ffffff;
}

.fi-nav-box li {
    width: 145px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "microsoft yahei";
}

.fi-nav-box li:hover,.fi-nav-box .fi-nav-boxa {
    color: #e23c3d;
    background: url(../img/user_bg_nav.png) -10px 0px no-repeat;
}

.fi-nav-box .liselect {
    list-style-type: none;
}

.fi-appsaler {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}

.fi-menu-title span {
    position: absolute;
    left: 20px;
    top: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../../default/images/icon_leftmenu.png);
    background-repeat: no-repeat;
}

select {
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    font-family: inherit;
    font-size: 100%;
    padding: 2px;
    vertical-align: middle;
}

input, textarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 100%;
    margin: 3px;
    padding: 5px;
    vertical-align: middle;
}

.fi-tab-box {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.fi-tab-nav {
    margin: 0;
    padding: 0;
    height: 31px;
}

.fi-tab-nav li {
    cursor: pointer;
    float: left;
    margin: 0 0px;
    list-style: none;
    border: 1px solid #ddd;
    border-bottom: none;
    line-height: 30px;
    text-align: center;
    background: #eeeeee;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.fi-tab-nav .on {
    background: none repeat scroll 0 0 #e23e3d;
    border-bottom: 0 none;
    color: #ffffff;
    font-weight: bold;
}

.fi-tab-content {
    padding: 5px;
    width: 99%;
    height: auto;
    border: 1px solid #ddd;
    background: #FFF;
}

.fi-appraise-box {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fi-appraise-box .appraise-title {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
}

.fi-appraise-box .appraise-title .tips {
    font-weight: normal;
    color: #999999;
}

.fi-appraise-box .main {
    border: 1px solid #E9E9E9;
    border-top: 2px solid  #999999;
}

.fi-appraise-box .head {
    line-height: 35px;
    background-color: #E9E9E9;
    font-weight: bold;
}

.fi-appraise-box .goods-no {
    float: left;
    width: 50px;
    text-align: center;
}

.fi-appraise-box .goods-name {
    float: left;
    width: 600px;
}

.fi-appraise-box .goods-name2 {
    float: left;
    width: 530px;
    line-height: 30px;
}

.fi-appraise-box .goods-status {
    float: left;
    width: 120px;
    text-align: center;
}

.fi-appraise-box .goods-buy-time {
    float: left;
    width: 220px;
    text-align: center;
}

.fi-appraise-box .appraise-box {
    text-align: center;
    background-color: #DBEAF9;
    padding-top: 5px;
}

.fi-appraise-box .goods-txt {
    line-height: 70px;
}

.fi-appraise-box .goods-img {
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fi-appraise-box .appraise-box .main-box {
    width: 800px;
    margin: 0 auto;
}

.fi-appraise-box .appraise-box .item {
    line-height: 40px;
    margin-top: 5px;
}

.fi-appraise-box .appraise-box .item .title {
    float: left;
    width: 80px;
    text-align: right;
}

.fi-appraise-box .appraise-box .item .content {
    float: left;
    width: 700px;
    text-align: left;
}

.fi-appraise-box .appraise-box .btn-box {
    padding-right: 80px;
    margin: 15px;
    float: right;
}

.fi-goods-tb {
    margin-top: 3px;
    margin-bottom: 2px;
    border: 0px;
}

.fi-complain-detail {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border-bottom: 1px dotted #ddd;
}

.fi-complain-detail tr {
    height: 25px;
    line-height: 25px;
}

.fi-complain-detail tr th {
    color: #707070;
    text-align: right;
    font-size: 12px;
}

.fi-complain-detail tr td {
    text-align: left;
    color: #707070;
}

.fi-complain-detail .head {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px dotted #ddd;
}

.fi-complain-left {
    width: 250px;
    height: 100%;
    border: 1px solid #ddd;
    text-align: left;
    background: #ffffff;
    float: left;
}

.fi-complain-order-head {
    width: 240px;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 5px;
    background: #f5f5f5;
}

.fi-complain-order-goods {
    width: 240px;
    height: 200px;
    line-height: 30px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto
}

.fi-complain-main {
    float: right;
    width: 732px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.fi-complain-order-info {
    padding: 5px;
    display: block;
    height: 100%;
}

.fi-complain-order-info dt {
    float: left;
    width: 70px;
    color: #999;
    padding: 1px 0;
    display: block;
    height: 20px;
}

.fi-complain-order-info dd {
    overflow: hidden;
    color: #666;
    padding: 1px 0;
    width: 170px;
    display: block;
    height: 20px;
}

.fi-complain-box {
    border-bottom: 1px solid #ddd;
    width: 732px;
    padding: 5px;
}

.fi-complain-footer {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: 10px;
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#preview-pane .preview-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px dashed #777;
}

#userPhotoCutBox>p {
    width: 500px;
    height: 500px;
    background: url('../img/cut_bg.png')  repeat 0 0;
	/*border:1px dashed #777;*/
}

#cutArea {
    width: 502px;
    height: 502px;
    border: 1px dashed #777;
    position: relative;
    top: -2px;
    left: -2px;
    float: left;
}

#c-btn {
    width: 100%;
    margin-left: 15%;
}

.cut-btn {
    width: 80px;
    height: 30px;
    background: #e02f2f;
    color: white;
    font-weight: bold;
}

.cut-help {
    width: 150px;
    position: absolute;
    top: 185px;
    right: 10px;
}

.cut-help p {
    margin-top: 7px;
    width: 150px;
}

.fi-lite-bac {
    background: #ffffff;
}

.fi-lite-tit {
    float: left;
    width: 100px;
    margin: 16px 0px 0px 10px;
}

.fi-lite-tit span {
    float: left;
    color: #e23c3d;
    font-size: 19px;
    margin-left: 10px;
    font-family: "microsoft yahei";
}

a.fi-lite-in {
    float: left;
    margin-top: 6px;
    padding: 3px 8px;
    color: #e23c3d;
    border: 1px solid #e23c3d;
}

a.fi-lite-in:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #e23c3d;
}

.fi-lite-sea {
    float: right;
    background: #ffffff;
    margin: 20px 35px 0px 0px;
}

.fi-lite-sea .search {
    border: 2px solid #e23c3d;
    height: 35px;
    position: relative;
}

.fi-lite-sea .search .j-search-type {
    width: 78px;
    top: 0;
    line-height: 36px;
    position: absolute;
    padding: 0;
    border-right: 2px solid #e23c3d;
    border-left: 2px solid #e23c3d;
    
    cursor: pointer;
    left: -2px;
    text-align: center;
}
.fi-lite-sea .search .j-search-type:hover{
	border-bottom: 2px solid #e23c3d;
}
.fi-lite-sea .search .j-type-list {
    width: 70px;
    top: 37px;
    line-height: 36px;
    position: absolute;
    padding: 0 4px;
    border: 2px solid #e23c3d;
    cursor: pointer;
    background-color: #fff;
    left: -2px;
    z-index: 100;
    border-top: 0;
    display: none;
    text-align: center;
}

.fi-lite-sea .search .j-search-type i {
    top: 15px;
    right: 6px;
    height: 7px;
    width: 0px;
    overflow: hidden;
    font-style: normal;
    color: #6A6A6A;
    display: block;
    position: absolute;
}



.fi-lite-sea .search .j-search-type s {
    position: relative;
    top: -17px;
    text-decoration: none;
}

.fi-lite-sea .search .j-type-list div:hover {
    color: #e23c3d
}

.fi-lite-sea .search .search-ipt {
    border: 0 none;
    color: #565656;
    float: left;
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    width: 330px;
    height: 30px;
    border: 36px;
    outline: none;
    padding-left: 84px;
    box-shadow: none;
}

.fi-lite-sea .search .search-btn {
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    height: 35px;
    line-height: 36px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 52px;
    background: url(../img/btn_search_red.png) 22px 6px no-repeat;
}

.fi-lite-cart {
    float: right;
    width: 163px;
    height: 56px;
    margin-top: 12px;
    background: url(../img/img_cart_bg.png) no-repeat;
    position: relative;
    cursor: pointer;
}

.fi-lite-cart .word {
    float: left;
    width: 112px;
    margin-top: 15px;
    padding: 5px 6px 7px 52px;
    color: #ffffff;
    font-size: 16px;
    font-family: "microsoft yahei";
}

.fi-lite-cart .num {
    font-size: 17px;
    color: #fcff00;
}

.fi-lite-carts {
    width: 332px;
    min-height: 130px;
    margin-top: 22px;
    border: 1px solid #dedbdb;
    position: absolute;
    z-index: 1200;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -171px;
    top: 22px;
}

.fi-lite-carts:after {
    top: -16px;
    border-color: transparent transparent #ffffff;
}

.fi-lite-carts .carts {
    background: url(../img/top_icon_cartdown.png) 28px 47px no-repeat;
    width: 332px;
    height: 130px;
    text-indent: 4.5em;
    line-height: 130px;
    font-size: 15px;
    color: #b9b6b6;
}

.fi-lite-cart .goods {
    float: left;
    width: 96.666666%;
    border-bottom: 1px dashed #bfbfbf;
    padding: 5px;
}

.fi-lite-cart .goods .imgs {
    float: left;
    width: 72px;
    height: 72px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}

.fi-lite-cart .goods .imgs a {
    width: 72px;
    height: 72px;
    display: table-cell;
    vertical-align: middle;
}

.fi-lite-cart .goods .imgs img {
    max-width: 72px;
    max-height: 72px;
}

.fi-lite-cart .goods .number {
    float: left;
    width: 50%;
}

.fi-lite-cart .goods .number p {
    float: left;
    width: 92%;
    margin-top: 10px;
    padding-left: 10px;
}

.fi-lite-cart .goods .price {
    float: right;
    text-align: right;
}

.fi-lite-cart .goods .price p {
    float: right;
    width: 100%;
    line-height: 20px;
    font-weight: bold;
    color: #df2003;
}

.fi-lite-cart .goods.price span {
    float: right;
    width: 100%;
    line-height: 20px;
}

.fi-lite-cart .goods .price span a:hover,.fi-lite-cart .goods .number p a:hover {
    color: #df2003;
}

.fi-lite-cart .comm {
    float: left;
    width: 100%;
    font-weight: bold;
    line-height: 32px;
}

.fi-lite-cart .comm span {
    font-size: 15px;
    color: #e23c3d;
}

.fi-lite-cart .comm .span2 {
    float: right;
    margin-right: 10px;
}

.fi-lite-cart .btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px 16px 72px;
    max-width: 200px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 400px) {
    .fi-lite-cart .btn {
        display: inline-block;
        margin-right: 2.5em;
    }

    .fi-lite-cart .btn:nth-of-type(even) {
        margin-right: 0;
    }
}

@media (min-width: 600px) {
    .fi-lite-cart .btn:nth-of-type(even) {
        margin-right: 2.5em;
    }

    .fi-lite-cart .btn:nth-of-type(5) {
        margin-right: 0;
    }
}

.fi-lite-cart .btn:hover {
    text-decoration: none;
}

.fi-lite-cart .btn-3 {
    font-weight: 900;
    background: #e23c3d;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.fi-lite-cart .btn-3:hover {
    background: #ff3c3d;
    border: 1px solid #f33;
    font-weight: 900;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.fi-nav-l {
    float: left;
    width: 28px;
    height: 33px;
}

.fi-nav-r {
    float: right;
    width: 28px;
    height: 33px;
}

.fi-bottom {
    margin: auto;
    width: 1200px;
    padding-top: 20px;
}

.fi-bottom-m {
    float: left;
    height: 29px;
    width: 100%;
    border-bottom: 1px solid #f24040;
}

.fi-bottom-ml {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
    cursor: pointer;
    background: #ebebeb;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #f24040;
    font-family: "microsoft yahei";
}

.fi-bottom-mr {
    float: right;
    margin-right: 5px;
    font-family: "microsoft yahei";
}

.fi-bottom-ms {
    background: #F5F5F5;
    border-top: 1px solid #f24040;
    border-left: 1px solid #f24040;
    border-right: 1px solid #f24040;
    border-bottom: 1px solid #F5F5F5;
}

.fi-bottom-mr img {
    margin-top: 7px;
    margin-right: 5px;
}

.fi-bottom-mr a {
    line-height: 28px;
}

.fi-bottom-g {
    padding: 10px 0px;
}

.fi-bottom-gs {
    float: left;
    padding: 10px;
    width: 17.333333%;
    margin: 0px 5px;
    border-radius: 3px;
    border: 1px solid #dadada;
}

.fi-bottom-i {
    float: left;
    width: 208px;
    height: 208px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}

.fi-bottom-i img {
    max-width: 208px;
    max-height: 208px;
}

.fi-bottom-n1,.fi-bottom-n2,.fi-bottom-n3,.fi-bottom-n4 {
    float: left;
    width: 100%;
    font-family: "microsoft yahei";
}

.fi-bottom-n1 {
    margin-top: 16px;
    font-size: 15px;
}

.fi-bottom-n2 {
    margin-top: 8px;
}

.fi-bottom-n4 {
    margin-top: 5px;
}

.fi-bottom-n2l {
    font-size: 15px;
    color: #eb533e;
    font-weight: bold;
}

.fi-bottom-n2r,.fi-bottom-n3r {
    float: right;
    line-height: 20px;
}

.fi-bottom-n2r span {
    color: #ec198a;
}

.fi-bottom-n3l {
    color: #bab8b8;
    line-height: 20px;
}

.fi-bottom-n3r span {
    color: #1398e3;
}

.fi-bottom-gs:hover {
    cursor: pointer;
    border: 1px solid #f24040;
}

/*用户资料*/
.gray {
    color: #707070;
    font-weight: bold;
}

.uinfo-form tr td {
    width: 330px;
    height: 40px;
}

.uinfo>input {
    width: 235px;
}

.uinfo-nav {
    border-bottom: 1px solid #e23c3d;
}

.uinfo-nav .on {
    background: none repeat scroll 0 0 #e23c3d;
    border-bottom: 0 none;
    color: #ffffff;
    font-weight: bold;
}

/*用户地址*/

/*自定义下拉框样式*/
select {
    border: solid 1px #ccc;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 14px;
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
}

select::-ms-expand {
    display: none;
}

/*自定义单选框样式*/
.fi-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.fi-radio + label:after {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.fi-radio:checked + label {
    border: 1px solid #ff9a02;
}

.fi-radio:checked + label:after {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #ff9a02;
    box-shadow: inset 0px 0px 10px #ff9a02;
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.radio-box .fi-radio {
    position: relative;
    z-index: -654;
    left: 16px;
    top: 0px;
}

.mt-1 {
    position: relative;
    top: 1px;
    left: 0px;
    cursor: pointer;
}
/*自定义复选框样式 列*/
.checkbox-box-s {
    height: 20px !important;
    cursor: pointer;
}

.fi-checkbox-s + label {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 6px;
    display: inline-block;
    position: relative;
}

.fi-checkbox-s + label:after {
    content: ' ';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 3px;
    box-shadow: inset 0px 0px 10px #ccc;
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.fi-checkbox-s:checked + label {
    border: 1px solid #FC7373;
/* 修改选框选中颜色*/
}

.fi-checkbox-s:checked + label:after {
    content: ' ';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 3px;
    background: #FC7373;
/* 修改选框选中颜色*/
    box-shadow: inset 0px 0px 10px #FC7373;
/* 修改选框选中颜色*/
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.checkbox-box-s .fi-checkbox-s {
    position: relative;
    z-index: -654;
    left: -5px;
    top: -1px;
    cursor: pointer;
}

.checkbox-box-s label {
    position: relative;
    top: -48px;
    left: 1px;
}


/*用户信息*/
.u-menu {
    height: 25px;
    margin-left: 4px;
    margin-top: 10px;
}

.readMsg,.newMsg {
    width: 36px;
    height: 27px;
    background: url(../img/user_icon_info.png) no-repeat;
}

.newMsg {
    background-position: -66px -6px;
}

.readMsg {
    background-position: -11px -6px;
}

.s-handle {
    color: #1cbbef !important;
    display: inline-block;
    margin: 0 3px;
}

.s-handle:hover {
    color: #085cde;
}

.g {
    color: green;
}

.addr-btn {
    width: 95px !important;
}

.fi-addr {
    width: 98%;
    border: 1px solid #ccc;
    margin: 10px;
}

.fi-addr tbody tr td {
    height: 20px;
}

.addr-title {
	padding-left: 5px;
    width: 130px;
}

.del {
    display: block;
    float: right;
    clear: right;
    padding-right: 5px;
    font-size: 15px;
    color: #c1c1c1 !important;
}

.del:hover {
    color: #e23c3d !important;
}

.edit>a {
    display: block;
    float: right;
    padding-right: 20px;
    color: #4b4bfb;
}

.edit>a:hover {
    color: #0d0dc7;
}

.default {
    width: 60px;
    height: 25px;
    background: orange;
    line-height: 25px;
    text-align: center;
    color: white;
    float: left;
    clear: left;
    margin-left: 35px;
}
/*标题*/
.fi-user-head {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e23c3d;
    margin-bottom: 10px;
}

.fi-user-head span {
    float: left;
    line-height: 28px;
    padding: 0px 28px;
    color: #ffffff;
    background: #e23c3d;
}

.fi-user-head a {
    float: right;
    line-height: 28px;
    padding: 0px 28px;
    color: #ffffff;
    background: #e23c3d;
}

.fi-user-tbar {
    height: 25px;
    padding: 2px;
    clear: both;
}

.fi-user-content {
    padding: 2px;
    clear: both;
    margin-top: 10px;
}
/*a按钮*/
/*红*/
.fi-user-buta {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-top: 16px;
    padding: 0px 20px;
    color: #ffffff;
    background: #e23c3d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.fi-user-buta:hover {
    color: #e23c3d;
    background: #f3bab1;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
/*灰*/
.fi-user-buta2 {
    height: 29px;
    padding: 0px 20px;
    background: #ebebeb;
    border-radius: 3px;
    border: 1px solid #dad7d7;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
}

.fi-user-buta2:hover {
    border-radius: 3px;
    background: #f1f1f1;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
/*button按钮*/
/*红*/
.fi-sec-but {
    outline: none;
    background: #e23c3d;
    color: #ffffff;
    border: 1px solid #d33110;
    border-radius: 3px;
    cursor: pointer;
}

.fi-sec-but:not(.disabled):not(:disabled):active, .fi-sec-but.active {
    background: #f96a54;
    background-clip: padding-box;
    border: 1px solid #f96a54;
}
/*灰*/
.fi-sec-but2 {
    outline: none;
    background: #ebebeb;
    color: #9f9696;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.fi-sec-but2:not(.disabled):not(:disabled):active, .fi-sec-but2.active {
    background: #f1f1f1;
    background-clip: padding-box;
}

.u-btn {
    width: 80px;
    height: 30px;
    font-weight: bold;
}
/**订单列表**/
.fi-order-list {
    width: 100%;
    border-color: grey;
    border-collapse: separate;
    border-spacing: 0;
}

.fi-order-list .head {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #666;
    font-weight: 400;
}

.fi-order-list .empty-row {
    height: 20px;
}

.fi-order-list .order-head {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}

.fi-order-list .order-head td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 0px;
}

.fi-order-list .goods-box td:first-child {
    border-left: 1px solid #e5e5e5;
}

.fi-order-list .goods-box td {
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-top: 0px;
    border-left: 0px;
}

.fi-order-list .time {
    float: left;
    margin-right: 30px;
}

.fi-order-list .orderno {
    float: left;
    margin-right: 30px;
    width: 200px;
    text-align: left;
}

.fi-order-list .shop {
    float: left;
    margin-right: 20px;
    width: 150px;
    text-align: left
}

.fi-order-list .link {
    float: left;
}

.fi-order-list .goods-img {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
    float: left;
}

.fi-order-list .goods-img a {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

.fi-order-list .goods-img a img {
    max-width: 60px;
    max-height: 60px;
}

.fi-order-list .goods-name {
    float: left;
    margin-left: 5px;
    line-height: 25px;
    width: 500px;
}

.fi-order-list .goods-extra {
    float: right;
    margin-left: 5px;
    margin-top: 20px;
}

.goods-box .second_pay_way p{
	text-align: center;
}
.fi-order-list .line {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.order-box {
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.order-box .box-head {
    font-weight: bold;
    height: 30px;
    line-height: 30px
}
/*流程展示*/
.order-box .log-box {
    height: 132px;
}

.order-box .log-box .icon {
    float: left;
    width: 60px;
    height: 60px;
}

.order-box .log-box .icons {
    float: left;
    width: 60px;
    height: 60px;
}

.order-box .log-box .icon11 {
    background: url(../img/user_icon_rzxx.png) -15px -12px no-repeat;
}

.order-box .log-box .icon21 {
    background: url(../img/user_icon_rzxx.png) -105px -12px no-repeat;
}

.order-box .log-box .icon31 {
    background: url(../img/user_icon_rzxx.png) -194px -12px no-repeat;
}

.order-box .log-box .icon41 {
    background: url(../img/user_icon_rzxx.png) -282px -12px no-repeat;
}

.order-box .log-box .icon51 {
    background: url(../img/user_icon_rzxx.png) -373px -12px no-repeat;
}

.order-box .log-box .icon12 {
    background: url(../img/user_icon_rzxx.png) -15px -62px no-repeat;
}

.order-box .log-box .icon22 {
    background: url(../img/user_icon_rzxx.png) -105px -62px no-repeat;
}

.order-box .log-box .icon32 {
    background: url(../img/user_icon_rzxx.png) -194px -61px no-repeat;
}

.order-box .log-box .icon42 {
    background: url(../img/user_icon_rzxx.png) -282px -63px no-repeat;
}

.order-box .log-box .icon52 {
    background: url(../img/user_icon_rzxx.png) -373px -62px no-repeat;
}

.order-box .log-box .icon13 {
    background: url(../img/user_icon_rzxx.png) -19px -123px no-repeat;
}

.order-box .log-box .icon23 {
    background: url(../img/user_icon_rzxx.png) -105px -122px no-repeat;
}

.order-box .log-box .icon33 {
    background: url(../img/user_icon_rzxx.png) -194px -121px no-repeat;
}

.order-box .log-box .icon43 {
    background: url(../img/user_icon_rzxx.png) -282px -122px no-repeat;
}

.order-box .log-box .icon53 {
    background: url(../img/user_icon_rzxx.png) -373px -121px no-repeat;
}

.order-box .log-box .arrow {
    float: left;
    color: #979797;
    font-size: 15px;
    font-weight: bold;
    margin-top: 18px;
}

.order-box .log-box .arrow2 {
    color: #7ebb53;
}

.order-box .log-box .state {
    float: left;
    width: 100%;
    margin-left: 18px;
}

.order-box .log-box .state2 {
    float: left;
    width: 100%;
    position: relative;
}

.order-box .log-box .state2 p {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-right: 105px;
    color: #f05858;
    font-size: 15px;
}
.order-box .log-box .state2 p:last-child{
	margin-right: 0px;
}
.order-box .log-box .state2 .path {
    position: absolute;
    z-index: 10;
}

.order-box .log-box .state2 .path span {
    float: left;
    width: 160px;
    height: 50px;
    text-align: center;
    background: #ffffff;
    padding-right: 25px;
}

.order-box .delivery-box {
    height: 100px;
    border-bottom: 1px solid #ddd;
}

.order-box th {
    font-weight: normal;
}

.order-box .goods-head {
    border-top: 2px solid #FC7A64;
    background: #f3f3f3;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 0 0 10px;
    padding: 5px 0;
}

.order-box .goods-head .goods {
    float: left;
    width: 650px;
    padding-left: 15px
}

.order-box .goods-head .price {
    float: left;
    width: 100px;
}

.order-box .goods-head .num {
    float: left;
    width: 100px;
}

.order-box .goods-head .t-price {
    float: left;
    width: 105px;
}

.order-box .shop {
    padding-left: 15px;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #FDD8D2;
    color: #E55356;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
}

.order-box .item {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #eeeeee;
}

.order-box .item .goods {
    float: left;
    width: 650px;
    padding-left: 15px;
}

.order-box .item .goods .img {
    float: left;
    width: 80px;
    height: 80px;
}

.order-box .item .goods .name {
    float: left;
    width: 390px;
    height: 80px;
    margin-left: 5px;
}

.order-box .item .goods .spec {
    float: left;
    width: 165px;
    margin-left: 5px;
}

.order-box .item .price {
    float: left;
    width: 100px;
    margin-top: 25px;
}

.order-box .item .num {
    float: left;
    width: 100px;
    margin-top: 25px;
}

.order-box .item .t-price {
    float: left;
    width: 100px;
    margin-top: 25px;
}

.order-box .goods-footer {
    padding-right: 10px;
    margin-bottom: 10px;
}

.order-box .line {
    border-top: 1px solid #dddddd;
}

.order-box .goods-summary {
    margin-top: 10px;
}

.order-box .summary {
    height: 30px;
    line-height: 30px;
    padding-right: 80px;
}

.order-box .orderScore {
    margin-right: 5px;
}

.order-box .log td {
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
/**积分**/
.score-add {
    color: green;
    font-size: 16px;
    font-weight: bold;
}

.score-reduce {
    color: green;
    font-size: 16px;
    font-weight: bold;
}

.score-head {
    background: #eeeeee;
    height: 120px;
    width: 100%
}

.score-head .user-logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.score-head .user-logo img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.score-head .user-info {
    float: left;
    padding-top: 25px;
    padding-left: 20px;
}

.score-head .user-info .userName {
    height: 25px;
    line-height: 25px;
}

.score-head .user-info .userScore {
    height: 25px;
    line-height: 25px;
}
/**收藏管理**/
/*收藏商品*/
.fi-fav-listg {
    float: left;
    width: 100%;
    padding-top: 12px;
}

.fi-fav-listg a,.fi-fav-shop span {
    color: #6a6868;
}

.fi-fav-goods {
    float: left;
    width: 21.88888888%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 3px;
    margin-left: 6px;
    margin-bottom: 20px;
}

.fi-fav-goods:hover {
    border: 1px solid #fe7f6c;
}

.fi-fav-goodp1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.fi-fav-goodp1,.fi-fav-goodp2 {
    float: left;
    width: 100%;
    line-height: 20px;
    font-family: "microsoft yahei";
    text-align: center;
}

.fi-fav-goodpr {
    color: #ea523b;
    font-size: 16px;
    font-weight: bold;
}

.fi-fav-goodpr2 {
    color: #ed1a8d;
}

.fi-fav-goodpr3 {
    color: #c4c2c2;
}

.fi-fav-goodpr4 {
    color: #249ee7;
}

.fi-fav-goimg {
    float: left;
    width: 216px;
    height: 216px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}

.fi-fav-goimg img {
    max-width: 216px;
    max-height: 216px;
    cursor: pointer;
}

.fi-fav-goimg span {
    width: 216px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    color: #ffffff;
    opacity: 0.8;
    background: #605d56;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: none;
}

.fi-fav-goimg span:hover {
    background: #d0260c;
    cursor: pointer;
}

.fi-fav-gonam {
    float: left;
    width: 100%;
    height: 20px;
    color: #838383;
    font-size: 15px;
    font-family: "microsoft yahei";
    margin-top: 6px;
}

.fi-fav-shop {
    float: left;
    width: 100%;
    margin-top: 6px;
}
.fi-fav-goods .js-operate{
	border:1px solid #666;
	padding:5px 10px;
	margin-top: 5px;
	margin-left:15px;
	display:inline-block;
	cursor:pointer;
}
.fi-fav-goods .second_join_cart{
	background:#e23c3d;
	border:1px solid #e23c3d;
	color:#fff;
}
.fi-fav-goods .second_join_cart:hover{
	background:#f23c3d;
}
.fi-fav-shop span {
    margin-right: 10px;
}

.fi-fav-shop img {
    float: left;
    margin-top: 1px;
    width: 15px;
    margin-right: 3px;
}

.fi-fav-pa {
    padding: 25px 0px 0px 350px;
}
/*收藏店铺*/
.fi-favo-shop {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #dddbdb;
}

.fi-favo-shop:hover {
    border: 1px solid #ec7e67;
}

.fi-favo-shopl {
    float: left;
    width: 150px;
}

.fi-favo-shopr {
    float: right;
    width: 80%;
}

.fi-favo-shopimg {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}

.fi-favo-shopimg img {
    max-width: 150px;
    max-height: 150px;
}

.fi-favo-shopl p {
    float: left;
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: center;
    font-family: "microsoft yahei";
}

.fi-favo-shopa {
    float: left;
    padding: 0px 8px;
    margin-left: 3px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #7a7a7a;
    color: #7a7a7a;
    cursor: pointer;
}

.fi-favo-shopa:hover {
    color: #ec7e67;
    border: 1px solid #ec7e67;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
}

.fi-favo-more {
    float: left;
    width: 100%;
}

.fi-favo-more a {
    font-size: 13px;
    color: #666666;
}

.fi-favo-more a:hover {
    color: #eb5f43;
}

.fi-favo-more span {
    width: 100px;
    height: 20px;
    color: #ec7e67;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ec7e67;
}

.fi-favo-good {
    padding-top: 2px;
    margin-left: 22px;
}

.fi-favo-goods {
    float: left;
    margin: 0px 5px;
}

.fi-favo-goodimg {
    width: 135px;
    height: 135px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
}

.fi-favo-goodimg a {
    width: 135px;
    height: 135px;
    display: table-cell;
    vertical-align: middle;
}

.fi-favo-goodimg a img {
    max-width: 135px;
    max-height: 135px;
}

.fi-favo-goods span {
    float: left;
    width: 100%;
    margin-top: 1px;
    text-align: center;
    color: #fc6047;
    font-weight: bold;
    font-size: 15px;
}
/*轮播*/
.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

.als-wrapper {
    position: relative;
    list-style: none;
}

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}

.als-item img {
    width: 135px;
    height: 135px;
    vertical-align: middle;
}

.als-prev,.als-next {
    top: 40px;
}

.als-prev {
    left: -22px;
}

.als-next {
    right: -22px;
}
/*商品详情下的评价*/
.goods-info img {
    margin-top: 10px;
    display: block;
    float: left;
}

.goodsName {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    float: left;
}







/******************** 评价订单 ***********************/
.appraise-complate {
    width: 980px;
    height: 250px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.appraise-box {
    width: 980px;
    height: 350px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.o-goods-info {
    width: 210px;
    height: 258px;
    float: left;
    overflow: hidden;
}

.o-goods-info img {
    width: 180px;
    height: 180px;
}

.appraise-area {
    width: 740px;
    height: 100%;
    float: right;
}

.appraise-item {
    width: 500px;
}

.appraise-title {
    margin-top: 3px;
    float: left;
    width: 70px;
    font-weight: bold;
}

.appraise-content {
    float: left;
    width: 430px;
}

.complate-content {
    width: 600px;
    max-height: 180px;
    line-height: 24px;
    overflow: hidden;
}

.webuploader-pick {
    height: 25px;
    line-height: 25px;
}

.appraise-btn {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: #E23E3D;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.fi-msg-tips-box {
    background-color: #f0a869;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 30px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 0;
    width: 24px;
}

.msgContent {
    padding: 10px;
}
