{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/homemenus/homemenus.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="fi-loading"></div>
<div class="fi-toolbar">
   菜单类型：<select id='s_menu_type' onchange='loadGrid()'>
      <option value='-1'>全部</option>
      <option value='0'>用户菜单</option>
      <option value='1'>商家菜单</option>
   </select>
   {if FIGrant('QTCD_01')}
   <button class="btn btn-green f-right" onclick="javascript:toEdit(0)">新增</button>
   {/if}
   <div style="clear:both"></div>
</div>
<div id="maingrid"></div>
<div id='menuBox' style='display:none'>
    <form id='menuForm'>
    <table class='fi-form fi-box-top'>
       <tr>
          <th>菜单名称<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="menu_name" name="menu_name" class="ipt" maxLength='20' />
          </td>
       </tr>
       <tr>
          <th>菜单Url<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="menu_url" name="menu_url" class="ipt" maxLength='200' style='width:300px'/>
          </td>
       </tr>
       <tr>
          <th>附加资源：</th>
          <td>
              <textarea id="menu_other_url" name="menu_other_url" class="ipt" style='width:80%'></textarea>
          </td>
       </tr>
       <tr>
          <th>菜单类型<font color='red'>*</font>：</th>
          <td>
			<select id="menu_type" class="ipt">
				<option value="0">用户菜单</option>
				<option value="1">商家菜单</option>
			</select>
          </td>
       </tr>
       <tr>
          <th>菜单排序<font color='red'>*</font>：</th>
          <td>
              <input type="text" id="menu_sort" name="menu_sort" class="ipt" maxLength='20' />
          </td>
       </tr>
       <tr>
          <th>是否显示<font color='red'>  </font>：</th>
          <td>
            <lable>
              <input type="radio" name="is_show" value="1" id="is_show" class="ipt" data-target="#verifyCodeTips"/>显示
            </lable>
            <lable>
              <input type="radio" name="is_show" value="0" id="is_show" class="ipt" />隐藏
            </lable><span id="is_showTips"></span>
          </td>
       </tr>
    </table>
    </form>
</div>
{/block}
