{extend name="base" /}
{block name="css"}
{/block}
{block name="js"}
<script src="__ADMIN__/ordercomplains/ordercomplains.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/ordercomplains/ordercomplains.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="fi-loading"></div>
<div id="fi-tabs" style="width:100%; height:99%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">

   <div id="fi-tab-1" tabId="fi-tab-1"  title="投诉详情" class='fi-tab'  style="height: 100%"> 
   <div style="margin:10px">
    <!-- 投诉信息 -->
    <div class='order-box'>
      <table class='fi-form'>
         <tr>
           <td class='head-ititle'>投诉信息</td>
         </tr>
         <tr>
           <th width='100'>订单编号：</th>
           <td>{$object['order_no']}</td>
         </tr>
         <tr>
           <th>投诉人：</th>
           <td>{$order['user_name']}</td>
         </tr>
         <tr>
            <th>投诉类型：</th>
            <td>{if ($order['complain_type']==1)}
            承诺的没有做到
            {elseif ($order['complain_type']==2)}
            未按约定时间发货
            {elseif ($order['complain_type']==3)}
            未按成交价格进行交易
            {elseif ($order['complain_type']==4)}
            恶意骚扰
           {/if}</td>
         </tr>
        
         <tr>
            <th>投诉内容：</th>
            <td>{$order['complain_content']}</td>
         </tr>
         <tr>
            <th>附件：</th>
            <td>
              <div id="complain_annex">
              {if !empty($order['complain_annex'])}
              {volist name="$order['complain_annex']" id="img"}
              <img src="__ROOT__/{$img}" layer-src="__ROOT__/{:str_replace('_thumb.','.',$img)}" width="50" />
              {/volist}
              {/if}
              </div>
            </td>
         </tr>

         <tr>
            <th>投诉时间：</th>
            <td>{$order['complain_time']}</td>
         </tr>
      </table>
   </div>

   <!-- 应诉信息 -->
   <div class='order-box'>
      <table class='fi-form'>
         <tr>
           <td class='head-ititle'>应诉信息</td>
         </tr>
         <tr>
           <th width='100'>移交应付时间：</th>
           <td>{$order['deliver_respond_time']}</td>
         </tr>
         <tr>
           <th>应诉人：</th>
           <td>{$order['order']['shop_name']}</td>
         </tr>
         <tr>
           <th>应诉信息：</th>
           <td>{$order['respond_content']}</td>
         </tr>
         <tr>
          <th>附件：</th>
              <td>
               <div id="respond_annex">
                  {if !empty($order['respond_annex'])}
                  {volist name="$order['respond_annex']" id="img"}
                  <img src="__ROOT__/{$img}" layer-src="__ROOT__/{:str_replace('_thumb.','.',$img)}" width="50" />
                  {/volist}
                  {/if}
                </div>
              </td>
          </tr>

         <tr>
         <th>应诉时间：</th>
          <td>
           {$order['respond_time']}
          </td>
        </tr>
        
      </table>
   </div>


   <!-- 仲裁结果 -->
   <div class='order-box'>
      <table class='fi-form'>
         <tr>
           <td class='head-ititle'>仲裁结果</td>
         </tr>
         <tr>
      <th>处理状态：</th>
          <td>
            {if condition="$order['complain_status'] eq 0"}
                                        等待处理
            {elseif condition="$order['complain_status'] eq 1"/}
                                        等待应诉人回应
            {elseif condition="$order['complain_status'] eq 2"/}
                                        应诉人回应
            {elseif condition="$order['complain_status'] eq 3"/}
                                        等待仲裁
            {elseif condition="$order['complain_status'] eq 4"/}
                                         已仲裁                              
            {/if}
          </td>
       </tr>
       <tr>
          <td align='right' valign='right' width='120'>当前订单状态：</td>
          <td>
              {:FILangOrderStatus($order['order']['order_status'])}
          </td>
       </tr>
       <tr>
      <th>仲裁结果：</th>
          <td>
           {$order['final_result']}
          </td>
       </tr>
       <th>仲裁时间：</th>
          <td>
           {$order['final_result_time']}
          </td>
       </tr>

      <tr>
         <td colspan='2' align='center'>
           <input type="button" onclick="javascript:history.go(-1)" class='btn btn-blue' value="返回" />
         </td>
      </tr>
        
      </table>
   </div>
  </div>
</div>




































   <div title="订单详情" class='fi-tab' id="order-detail"  style="height: 99%"> 
      <div style='margin:10px;'>
  <div class='order-box'>
    <div class='box-head'>日志信息</div>
    {if in_array($object['order_status'],[-2,0,1,2])}
  <div class='log-box'>
<div class="state">
{if $object['pay_type']==1}
<div class="icon">
  <span class="icons {if condition="($object['order_status']==-2)OR($object['order_status']==0)OR($object['order_status']==1)OR($object['order_status']==2)"}icon12 {else}icon11 {/if}{if condition="($object['order_status']==-2)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['order_status']==0) OR ($object['order_status']==1) OR ($object['order_status']==2)"}arrow2{/if}">··················></div>
  <div class="icon"><span class="icons {if condition="($object['order_status']==0)OR($object['order_status']==1)OR($object['order_status']==2)"}icon22 {else}icon21{/if}{if condition="($object['order_status']==0)"}icon23 {/if}"></span></div>
  <div class="arrow {if condition="($object['order_status']==1) OR ($object['order_status']==2)"}arrow2{/if}">··················></div>
{else}
<div class="icon">
  <span class="icons {if condition="($object['order_status']==-2)OR($object['order_status']==0)OR($object['order_status']==1)OR($object['order_status']==2)"}icon12 {else}icon11 {/if}{if condition="($object['order_status']==0)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['order_status']==1) OR ($object['order_status']==2)"}arrow2{/if}">··················></div>
{/if}
<div class="icon">
  <span class="icons {if condition="($object['order_status']==1)OR($object['order_status']==2)OR($object['order_status']==1)"}icon32 {else}icon31 {/if}{if condition="($object['order_status']==1)"}icon33 {/if}"></span>
</div>
<div class="arrow {if condition="($object['order_status']==2)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons  {if condition="($object['order_status']==2)AND($object['is_appraise']==1)"}icon42 {else}icon41 {/if}{if condition="($object['order_status']==2)AND($object['is_appraise']==2)"}icon43 {/if}"></span></div>
<div class="arrow {if condition="($object['is_appraise']==1)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons {if condition="($object['is_appraise']==1)"}icon53 {else}icon51 {/if}"></span></div>
</div>
   <div class="state2">
   <div class="path">
   {volist name="$object['log']" id="lo"}
    <span>{$lo['log_content']}<br/>{$lo['log_time']}</span>
   {/volist}
   </div>
   <p>下单</p>{if $object['pay_type']==1}<p>支付</p>{/if}<p>商家发货</p><p>确认收货</p><p>订单结束<br/>双方互评</p>
   </div>
   <div class="fi-clear"></div>
   </div>
    {else}
        <div>
          <table class='log'>
            {volist name='$object["log"]' id='vo'}
             <tr>
               <td>{$vo['log_time']}</td>
               <td>{$vo['log_content']}</td>
             </tr>
            {/volist}
          </table>
        </div>                 
    {/if}
   </div>
   <!-- 订单信息 -->
   <div class='order-box'>
      <div class='box-head'>订单信息</div>
      <table class='fi-form'>
         <tr>
           <th width='100'>订单编号：</th>
           <td>{$object['order_no']}</td>
         </tr>
         <tr>
           <th>支付方式：</th>
           <td>{:FILangPayType($object['pay_type'])}</td>
         </tr>
         {if($object['pay_type']==1)}
         <tr>
           <th>交易流水：</th>
           <td>【{:FILangPayFrom($object['pay_from'])}】{$object['trade_no']}</td>
         </tr>
         {/if}
         <tr>
            <th>配送方式：</th>
            <td>{:FILangDeliverType($object['deliver_type'])}</td>
         </tr>
         {if $object['express_no']!=''}
         <tr>
            <th>快递公司：</th>
            <td>{$object['express_name']}</td>
         </tr>
         <tr>
            <th>快递号：</th>
            <td>{$object['express_no']}</td>
         </tr>
         {/if}
         <tr>
            <th>买家留言：</th>
            <td>{$object['order_remarks']}</td>
         </tr>
      </table>
   </div>
   <!-- 发票信息 -->
   <div class='order-box'>
      <div class='box-head'>发票信息</div>
      <table class='fi-form'>
         <tr>
           <th width='100'>是否需要发票：</th>
           <td>{if $object['is_invoice']==1}需要{else}不需要{/if}</td>
         </tr>
         <tr>
           <th>发票抬头：</th>
           <td>{$object['invoice_client']}</td>
         </tr>
      </table>
   </div>
   <!-- 收货人信息 -->
   <div class='order-box'>
      <div class='box-head'>收货人信息</div>
      <table class='fi-form'>
         <tr>
           <th width='100'>收货人：</th>
           <td>{$object['user_name']}</td>
         </tr>
         <tr>
           <th>收货地址：</th>
           <td>{$object['user_address']}</td>
         </tr>
         <tr>
            <th>联系方式：</th>
            <td>{$object['user_phone']}</td>
         </tr>
      </table>
   </div>
   <!-- 商品信息 -->
   <div class='order-box'>
       <div class='box-head'>商品清单</div>
       <div class='goods-head'>
          <div class='goods'>商品</div>
          <div class='price'>单价</div>
          <div class='num'>数量</div>
          <div class='t-price'>总价</div>
       </div>
       <div class='goods-item'>
          <div class='shop'>
          {$object['shop_name']}
          {if $object['shop_qq'] !=''}
          <a href="tencent://message/?uin={$object['shop_qq']}&Site=QQ交谈&Menu=yes">
        <img border="0" src="http://wpa.qq.com/pa?p=1:{$object['shop_qq']}:7" alt="QQ交谈" width="71" height="24" />
      </a>
          {/if}
          {if $object['shop_wangwang'] !=''}
          <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$object['shop_wangwang']}&siteid=cntaobao&status=1&charset=utf-8">
        <img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&uid={$object['shop_wangwang']}&site=cntaobao&s=1&charset=utf-8" alt="和我联系" />
      </a>
          {/if}
          </div>
          <div class='goods-list'>
             {volist name='$object["goods"]' id='vo2'}
             <div class='item'>
            <div class='goods'>
                <div class='img'>
                    <a href='{:Url("home/goods/detail","id=".$vo2["goods_id"])}' target='_blank'>
                  <img src='__ROOT__/{$vo2["goods_img"]}' width='80' height='80' title='{$vo2["goods_name"]}'/>
                  </a>
                </div>
                <div class='name'>{$vo2["goods_name"]}</div>
                <div class='spec'>{:str_replace('@@_@@','<br/>',$vo2["goods_spec_names"])}</div>
            </div>
            <div class='price'>¥{$vo2['goods_price']}</div>
            <div class='num'>{$vo2['goods_num']}</div>
            <div class='t-price'>¥{$vo2['goods_price']*$vo2['goods_num']}</div>
            <div class='f-clear'></div>
             </div>
             {/volist}
          </div>
       </div>
       <div class='goods-footer'>
          <div class='goods-summary' style='text-align:right'>
             <div class='summary'>商品总金额：¥<span>{$object['goods_money']}</span></div>
             <div class='summary'>运费：¥<span>{$object['deliver_money']}</span></div>
             <div class='summary line'>应付总金额：¥<span>{$object['total_money']}</span></div>
             <div class='summary'>实付总金额：¥<span>{$object['real_total_money']}</span></div>
             <div>可获得积分：<span class='order_score'>{$object["order_score"]}</span>个</div>
          </div>
       </div>
   </div>
   <div class='fi-footer'><input type='button' value='返回' class='btn btn-blue' onclick='javascript:history.go(-1)'></div>
<div>
   </div>


</div>
<script>
$(function(){
  parent.showImg({photos: $('#respond_annex')});
  parent.showImg({photos: $('#complain_annex')});
});
</script>
{/block}