{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/orders/orders.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="fi-loading"></div>
<div class="fi-toolbar">


商家所在地：
<select id="area_id1" class='ipt j-ipt' level="0" onchange="FI.ITAreas({id:'area_id1',val:this.value,className:'j-ipt'});">
  <option value="-1">-请选择-</option>
  {volist name="areaList" id="vo"}
  <option value="{$vo['area_id']}">{$vo['area_name']}</option>
  {/volist}
</select>

<br/>
订单编号：<input type="text" name="order_no"  placeholder='订单编号' id="order_no" class='j-ipt'/>
店铺：<input type="text" name="shop_name"  placeholder='店铺名称/店铺编号' id="shop_name" class='j-ipt'/>
订单状态：<select id='order_status' class='j-ipt'>
          <option value='10000'>全部</option>
          <option value='0'>待发货</option>
          <option value='-2'>待支付</option>
          <option value='-1'>已取消</option>
          <option value='1'>配送中</option>
          <option value='2'>已收货</option>
          <option value='-3'>用户拒收</option>
          <option value='-4'>商家同意拒收</option>
          <option value='-5'>商家不同意拒收</option>
       </select>
支付方式：<select id='pay_type' class='j-ipt'>
         <option value='-1'>全部</option>
         <option value='0'>货到付款</option>
         <option value='1'>在线支付</option>
      </select>
配送方式：<select id='deliver_type' class='j-ipt'>
         <option value='-1'>全部</option>
         <option value='1'>自提</option>
         <option value='0'>送货上门</option>
       </select>
   <button class="btn btn-blue" onclick='javascript:loadGrid(0)'>查询</button>
   <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
<script>
$(function(){initGrid();})
</script>
{/block}