{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/images/images.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style='display:block' id="fi-loading"></div>
<div class="fi-toolbar">
目录：<select id='key' class='ipt'>
    {volist name="$datas" key="i" id='vo'}
    <option value="{$vo['data_val']}" {if $keyword==$vo['data_val']}selected{/if}>{$vo['data_name']}</option>
    {/volist}
</select>
状态：<select id='is_use' class='ipt'>
    <option value='-1'>全部</option>
    <option value='1'>有效</option>
    <option value='0'>失效</option>
</select>
<button class="btn btn-blue" onclick='javascript:loadGrid(0)'>查询</button> 
<button class="btn f-right" onclick="javascript:history.go(-1)">返回</button> 
</div>
<div id="maingrid"></div>
<script>
$(function(){initGrid();})
</script>
{/block}