{extend name="default/base" /}
{block name="title"}{:WSTConf('CONF.mallName')}-{:WSTConf('CONF.mallSlogan')}{__block__}{/block}
{block name="meta"}
<meta name="description" content="{:WSTConf('CONF.seoMallDesc')}">
<meta name="Keywords" content="{:WSTConf('CONF.seoMallKeywords')}">
{/block}
{block name="css"}
<link href="__HOME__/css/index.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
{/* 横栏广告  */}
<div class="wst-ads" >
	<div class="wst-slide" id="wst-slide">
		<ul class="wst-slide-items">
			<!--轮播广告 start-->
			{wst:ads code="ads-index" cache='86400'}
				<a href="{$vo.adURL}" {if ($vo['adURL']!='')}onclick="WST.recordClick({$vo['adId']})"{/if}><li style="background: url(__ROOT__/{$vo.adFile}) no-repeat  scroll center top;background-size:cover;" ></li></a>
			{/wst:ads}
			<!--轮播广告 end-->
		</ul>
		<!--轮播下面的转换灯-->
		<div class="wst-slide-numbox">
			<div class="wst-slide-controls">
			  	{wst:ads code="ads-index" cache='86400' key='k'}
				  	{if condition="$k+1 eq 1"}
				  		 <span class="curr">{$k+1}</span>
				  	{else/} 
				  		 <span class="">{$k+1}</span>
				  	{/if}
				{/wst:ads}
			</div>
		</div>
	</div>
</div>
<div class='wst-main' style="margin-top: 35px;">
	<div class='wst-container'>
		<!--推荐商品 start-->
		<div class="recommend" id="recommend">
		    <div class="part-container"><span class="vline"></span><span class="vicon"></span><span class="part-title">推荐商品</span><span class="vicon"></span><span class="vline"></span></div>
		    <div class="wst-clear"></div>
		    <ul class="part-container">
		        <li class="ac0">
		            <a href="http://mall.360.com/ac/jiatingyingyuan" target="_blank" data-monitor="home_activity_ziyuanwei01"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t01e770e96f127b565c.jpg" src="https://p.ssl.qhmsg.com/t01e770e96f127b565c.webp" > </a>
		        </li>
		        <li class="ac1">
		            <a href="http://mall.360.com/ac/pingguo" target="_blank" data-monitor="home_activity_ziyuanwei02"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t016d6a6e1390ba7f86.png" src="https://p.ssl.qhmsg.com/t016d6a6e1390ba7f86.webp" > </a>
		        </li>
		        <li class="ac2">
		            <a href="http://mall.360.com/ac/0912manbuzhe" target="_blank" data-monitor="home_activity_ziyuanwei03"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t0150a0f23f9216c6ec.jpg" src="https://p.ssl.qhmsg.com/t0150a0f23f9216c6ec.webp" style="display: block;"> </a>
		        </li>
		        <li class="ac3">
		            <a href="http://mall.360.com/ac/qianggou1114" target="_blank" data-monitor="home_activity_ziyuanwei04"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t016f89a105cf283cae.jpg" src="https://p.ssl.qhmsg.com/t016f89a105cf283cae.webp" style="display: block;"> </a>
		        </li>
		        <li class="ac4">
		            <a href="http://mall.360.com/ac/zhinengjiaju2016" target="_blank" data-monitor="home_activity_ziyuanwei05"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t01d49057fb96de0f53.jpg" src="https://p.ssl.qhmsg.com/t01d49057fb96de0f53.webp" style="display: block;"> </a>
		        </li>
		        <li class="ac5">
		            <a href="http://mall.360.com/ac/miqilin0801" target="_blank" data-monitor="home_activity_ziyuanwei06"> <img class="js-lazyload" data-original="https://p.ssl.qhmsg.com/t01fdd80c649c6addad.jpg" src="https://p.ssl.qhmsg.com/t01fdd80c649c6addad.webp" style="display: block;"> </a>
		        </li>

		    </ul>
		</div>
		<div class="wst-clear"></div>


		<!--推荐商品 end-->


		
   	 	{/* 楼层商品 */}
		{volist name="floors" id="vo" key="l" length="10"}
		{/* 楼层顶部广告 */}
		{php}$adsCode = "ads-".$l."-1";{/php}
			<div class="floor-box">
				<div class="floor-header c{$l}" id="c{$l}">
					<div class="floor-header-f{$l}">
						<p class="floor-left-title"><a name="{$l}F"></a>{$l}F</p>
						<p class="floor-right-title">{:str_replace('、','<br>',$vo['catName'])}</p>
					</div>
				</div>
				<div class="floor-left">
				    {/* 楼层左侧广告(左上) start */}
					<div class="floor-left-ads">
					    {php}$adsCode = "ads-".$l."-2";{/php}
					    {wst:ads code="$adsCode" num="1" cache='86400' id='lad'}
							<a href="{$lad['adURL']}" {if ($lad['adURL']!='')}onclick="WST.recordClick({$lad['adId']})"{/if}><img style="width:240px;height:418px;" class='goodsImg' data-original="__ROOT__/{$lad['adFile']}"> </a>
						{/wst:ads}
					</div>
					{/* 楼层左侧广告(左上) end */}
					
					{/* 楼层左侧广告(左下) start todo */}
					<div class="floor-left-goods">
						<a href="{$lad['adURL']}" {if ($lad['adURL']!='')}onclick="WST.recordClick({$lad['adId']})"{/if}><img class="js-lazyload goodsImg" data-size="240_140_" data-original="https://p.ssl.qhmsg.com/t01914c74cb1356796e.jpg" src="https://p.ssl.qhmsg.com/dr/240_140_/t01914c74cb1356796e.webp" style="display: block;"></a>
					</div>
					{/* 楼层左侧广告(左下) end todo*/}
				</div>
				{/* 热门下的商品,含右侧广告 start*/}
				<div class="floor-right" id="fl_{$l}_0_pl">
					<div class="floor-right-ads">
						<div class="wst-floor-slide-{$l}" id="wst-floor-slide-{$l}">
							<!--右侧轮播广告 start-->
							<ul class="wst-floor-slide-items">
							    {php}$adsCode = "ads-".$l."-3";{/php}
							    {wst:ads code="$adsCode" cache='86400' id='rad'}
									<li style="z-index: 1;">
										<a href="{$rad.adURL}" {if ($rad['adURL']!='')}onclick="WST.recordClick({$rad['adId']})"{/if}><img class='goodsImg' data-original="__ROOT__/{$rad.adFile}"></a>
									</li>
								{/wst:ads}
							</ul>
							<!--右侧轮播广告 end-->

							<!--右侧轮播广告按钮 start-->
							<div class="wst-floor-slide-numbox">
								<div id="wst-floor-slide-controls-{$l}">
								 {php}$adsCode = "ads-".$l."-3";{/php}
								 {wst:ads code="$adsCode" cache='86400' key='k' id='rad'}
									 {if condition="$k eq 1"}
									  		 <span class="curr"> </span>
									 {else/}
									  		 <span class=""> </span>
									 {/if}
								 {/wst:ads}
								</div>
							</div>
							<!--右侧轮播广告按钮 end-->
						</div>
					</div>

					<div class="goods-list">
				     {/* 楼层分类下的商品 */}
					  {wst:goods type='hot' cat="vo['catId']" cache="86400" num='6' id='cs'}
				      <div class="goods goods-f{$l}">
				      	<div class="img"><a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" title="{$cs['goodsName']}"><img title="{$cs['goodsName']}" class='goodsImg' data-original="__ROOT__/{$cs['goodsImg']}"/></a></div>
				      	<div class="p-name"><a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" class="wst-redlink" title="{$cs['goodsName']}">{:WSTMSubstr($cs['goodsName'],0,33)}</a></div>
				      	<div>
				      		<div class="p-price">￥{$cs['shopPrice']}</div>
				      		<div class="p-hsale">
				      			<div class="sale-num">成交数：<span class="wst-fred">{$cs['saleNum']}</span></div>
				      			<a class="f-add-cart" style="display:none;" href="javascript:WST.addCart({$cs['goodsId']});">加入购物车</a>
				      		</div>
				      		<div class='wst-clear'></div>
				      	</div>
				      </div>
				      {/wst:goods}
				     <div class='wst-clear'></div>
				   	</div>
					<div class="wst-clear"></div>
				</div> 
				{/* 热门下的商品,含右侧广告 end*/}
			</div>
		{/volist}
	</div>
</div>
<div id="screen-left-nav" style="display:none;">
	<ul>
		{for start="1" end="$l+1"}
		{php} if ($i>10)break; {/php}
		<li class="lnav" id="F{$i}" ><a href="javascript:;" onfocus="this.blur();" >{$i}F</a></li>
		{/for}
	</ul>
</div>
{/* 右侧菜单栏  */}
{include file="default/right_cart"/}
{/block}
{block name="js"}
<script type='text/javascript' src='__ROOT__/wstmart/static/plugins/lazyload/jquery.lazyload.min.js?v={$v}'></script>
<script type='text/javascript' src='__HOME__/js/index.js?v={$v}'></script>
{/block}
{/block}