{extend name="base" /}
{block name="css"}
<style>
body{overflow:hidden;}
</style>
{/block}
{block name="js"}
<script src="__ADMIN__/messages/message.js?v={$v}" type="text/javascript"></script>
<script src="__STATIC__/plugins/kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="fi-loading"></div>
<div id="fi-tabs" style="width:100%; height:100%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">
   <div id="fi-tab-1" tabId="fi-tab-1"  title="发送消息" class='fi-tab'  style="height: 99%"> 
    <table class='fi-form fi-box-top'>
      <tr>
      <th width='150'>发送类型<font color='red'>*</font>：</th>
          <td style="text-align:left;">
            <label><input type="radio" name="sendType" id="sendType" value="users" class='ipt' onchange="sendToTheUser()" checked>会员</label>
            <label><input type="radio" name="sendType" id="sendType" value="shop" class='ipt'  onchange="sendToTheUser()">店铺</label>
            <label><input type="radio" name="sendType" id="theUser" value="theUser" class='ipt' onchange="sendToTheUser()">指定账号</label>
          </td>
       </tr>
       <tr id="user_query" style="display:none;">
          <th></th>
          <td>
            <input type='text' id='login_name' name="login_name" value=''  style="width:200px;" maxLength='20' placeholder="请输入要发送消息的账号"/>
            
          </td>
          <td><input type="button" class="btn btn-blue" value="查询" onclick="userQuery()"></td>
       </tr>
       <tr id="send_to" style="display:none;">
          <th>指定接收账号<font color='red'>*</font>：</th>
          <td width="200">
            <select ondblclick="FI.multSelect({left:'ltarget',right:'rtarget',vtarget:'rtarget',val:'htarget'})" size="12" id="ltarget" multiple="" style="width:200px;height:160px;">
             </select>
          </td>
         <td width="10">
         <input type='hidden' id='htarget' value='' class='ipt'/>
         <button onclick="javascript:FI.multSelect({left:'ltarget',right:'rtarget',vtarget:'rtarget',val:'htarget'})" class="btn btn-blue" type="button">&gt;&gt;</button>
         <br>
         <br>
         <button onclick="javascript:FI.multSelect({left:'rtarget',right:'ltarget',vtarget:'rtarget',val:'htarget'})" class="btn btn-blue" type="button">&lt;&lt;</button>
         </td>
         <td>
         <select ondblclick="FI.multSelect({left:'rtarget',right:'ltarget',vtarget:'rtarget',val:'htarget'})" size="12" id="rtarget" multiple="" style="width:200px;height:160px;">
        </select>
          </td>
       </tr>

       <tr>
          <th>消息内容<font color='red'>  </font>：</th>
          <td colspan="10">
            <textarea class='ipt' name="msg_content" id="msg_content" style="width:700px;height:150px;"></textarea>
          </td>
       </tr>
{if FIGrant('SCXX_01')} 
  <tr>
     <td colspan='4' align='center'>
       <input type="button" value="发送" onclick="sendMsg()" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
{/if}
 </table>

</div>

  <div title="消息列表" class='fi-tab-2'  style="height: 99%"> 

      <div id="query" style="float:left;">
        <p style="float:left;height:25px;line-height:25px;">消息类型:</p>
        <select style="float:left;" name="msg_type" id="msg_type" class="query">
          <option value="-1">全部</option>
          <option value="0">手工</option>
          <option value="1">系统</option>
        </select>
        系统内容:<input type="text" name="msg_content"  placeholder='系统内容' id="msg_content" class="query" />
        <input type="button" class="btn btn-blue" onclick="javascript:msgQuery()" value="查询">
      </div>
      <div style="clear:both"></div>
      <div id="maingrid"></div>
      
  </div>


</div>

{/block}

