<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{block name="title"}{:FIConf('CONF.mallTitle')}{/block}</title>
<meta name="auther" content="chao" />
<meta name="copyright" content="copyright" />
{block name="meta"}{/block}
<link href="__HOME__/css/common.css?v={$v}" rel="stylesheet">
<link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
{block name="css"}{/block}
<script type="text/javascript" src="__STATIC__/js/jquery.min.js?v={$v}"></script>
<script type="text/javascript" src="__STATIC__/plugins/layer/layer.js?v={$v}"></script>
<script type="text/javascript" src="__STATIC__/plugins/lazyload/jquery.lazyload.min.js?v={$v}"></script>
<script type='text/javascript' src='__STATIC__/js/common.js?v={$v}'></script>
{block name="depend_common_js"}{/block}
<script type='text/javascript' src='__HOME__/js/common.js?v={$v}'></script>
<script>
window.conf = {
		"ROOT"      : "__ROOT__", 
		"STATIC"    : "__STATIC__", 
		"SUFFIX"    : "{:config('url_html_suffix')}", 
		"SMS_VERFY" : "{:FIConf('CONF.smsVerfy')}",
    	"SMS_OPEN"  : "{:FIConf('CONF.smsOpen')}",
    	"GOODS_LOGO": "{:FIConf('CONF.goodsLogo')}",
    	"SHOP_LOGO" : "{:FIConf('CONF.shopLogo')}",
    	"MALL_LOGO" : "{:FIConf('CONF.mallLogo')}",
    	"USER_LOGO" : "{:FIConf('CONF.userLogo')}",
    	"IS_LOGIN"  : "{if (int)session('FI_USER.user_id')>0 }1{else}0{/if}",
    	"TIME_TASK" : "1"
	}
$(function() {
	FI.initVisitor();
});
</script>
</head>
<body>
{block name="nav"}
	{if isset($selfShop)}
		{include file="default/self_shop_header" /}
	{else /}
		{include file="default/header" /}
	{/if}
{/block}
{block name="main"}主内容{/block}
{block name="footer"}
	{include file="default/footer" /}
{/block}
{block name="js"}{/block}
</body>
</html>