{extend name="default/base" /}
{block name="title"}商品搜索 -{:FIConf('CONF.mallName')}{__block__}{/block}
{block name="meta"}
<meta name="description" content="{:FIConf('CONF.seoMallDesc')}，商品关键字搜索">
<meta name="Keywords" content="{$keyword}">
{/block}
{block name="css"}
<link href="__HOME__/css/goodslist.css?v={$v}" rel="stylesheet">
{/block}
{block name="nav"}
	{include file="default/header" /}
{/block}
{block name="main"}
{/* 推荐热卖   */}

<input type="hidden" id="keyword" class="sipt" value='{$keyword}'/>
<input type="hidden" id="orderBy" class="sipt" value='{$orderBy}'/>
<input type="hidden" id="order" class="sipt" value='{$order}'/>
<input type="hidden" id="areaId" class="sipt" value='{$areaId}'/>
<div class="filter-box">
	<div class='fi-filters'>
	   <div class='item' style="padding-left: 8px;">
	      <a class='link' href='__ROOT__'>全部结果</a>
	      <i class="arrow">></i>
	   </div>
	   <div class='fi-lfloat keyword'>{$keyword}</div>
	   <div class='fi-clear'></div>
	</div>
</div>

<div class="filter-box" style="display: block;">
    <div class="filter js-cates" data-monitor="search_fenlei_click">
        <div class="hint">分类:</div>
        <div class="option_box unspread">
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=571e3465f28d01269cc42a5f" title="手机/配件">手机/配件</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=572b288c4ae38d3b230c7e0f" title="娱乐影音">娱乐影音</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=571e3465f28d01269cc42a66" title="汽车用品">汽车用品</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=571e3464f28d01269cc42a2a" title="智能家居">智能家居</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=571e3464f28d01269cc42a42" title="电脑/游戏">电脑/游戏</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=57b55582a6fc07d6c36f1b08" title="同城二手">同城二手</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=571e3464f28d01269cc42a4d" title="智能穿戴">智能穿戴</a>
            <a class="" href="/search/?q=%E6%89%8B%E6%9C%BA&amp;cate=572b288c4ae38d3b230c7df8" title="母婴玩具">母婴玩具</a>
            <div class="find_more">
                <span class="spread_icon">
                        <img class="up" src="__HOME__/img/icon_up.png">
                        <img class="down" src="__HOME__/img/icon_down.png">
                    </span>查看更多
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="filter js-options" data-monitor="">
        <div class="hint">品牌: </div>
        <div class="option_box unspread">
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00044" title="360">360</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00256" title="漫步者">漫步者</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00530" title="云魔方">云魔方</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00151" title="猎奇">猎奇</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00539" title="洛克">洛克</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00099" title="宜客莱">宜客莱</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00323" title="铁三角">铁三角</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00527" title="冇心">冇心</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00473" title="摩托罗拉">摩托罗拉</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00520" title="bcase">bcase</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00046" title="DM">DM</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00499" title="RSR">RSR</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00172" title="赛鲸">赛鲸</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00292" title="灵克">灵克</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00446" title="果珈">果珈</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00487" title="卡儿酷">卡儿酷</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00580" title="dpark">dpark</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00095" title="奇酷">奇酷</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00234" title="beats">beats</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00019" title="MATE">MATE</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00091" title="大管家">大管家</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00113" title="幻响">幻响</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00184" title="阿思翠">阿思翠</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00222" title="车车智能">车车智能</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00265" title="MELOS">MELOS</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00310" title="屁颠虫">屁颠虫</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00378" title="第一眼">第一眼</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00475" title="奥普达">奥普达</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00476" title="强普">强普</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00477" title="优丽可">优丽可</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00482" title="卡乐多">卡乐多</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00519" title="ASNAP">ASNAP</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00526" title="黑鱼">黑鱼</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00543" title="埃普">埃普</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00579" title="ISF">ISF</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00173" title="趋势">趋势</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00330" title="硕美科">硕美科</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00435" title="爱易思">爱易思</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00453" title="MIPOW">MIPOW</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00005" title="COOWOO">COOWOO</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00009" title="FUNIPICA">FUNIPICA</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00027" title="QCY">QCY</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00075" title="北通">北通</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00245" title="Artiart">Artiart</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00377" title="more-thing">more-thing</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00444" title="蜂易达">蜂易达</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00479" title="轰天炮">轰天炮</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00544" title="雷麦">雷麦</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00550" title="小米">小米</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00554" title="乐视">乐视</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00047" title="MATE">MATE</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00159" title="米其林">米其林</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00161" title="纽曼">纽曼</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00170" title="葩葩">葩葩</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00191" title="飞利浦">飞利浦</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00192" title="飞智">飞智</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00193" title="飞毛腿">飞毛腿</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00237" title="apphome">apphome</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00255" title="倍斯特">倍斯特</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00348" title="罗马仕">罗马仕</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00408" title="迅投">迅投</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00422" title="funxim">funxim</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00445" title="美创">美创</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00483" title="巴巴实实">巴巴实实</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00497" title="潮迅">潮迅</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00510" title="森海塞尔">森海塞尔</a>
            <a href="/search/?q=%E6%89%8B%E6%9C%BA&amp;props=brand%3AB00523" title="JS">JS</a>
            <div class="find_more" style="display: block;">
                <span class="spread_icon">
                        <img class="up" src="__HOME__/img/icon_up.png" style="display:none;">
                        <img class="down" src="__HOME__/img/icon_down.png">
                    </span>
                <span class="find_txt">查看更多</span>
            </div>
        </div>
    </div>
    <div class="filter js-sort last">
        <span class="hint">排序: </span>

        <a class="active" href="javascript:;" data-monitor="search_paixu_default">默认</a>

        <a class="{$orderBy==1?'curr':''}" href='javascript:void(0)' onclick='javascript:searchOrder(1)'>价格</a>
        <span class="filter-chkbox" data-monitor="search_paixu_youhuo">
                <label>
                    <input name='isStock' value='1' class="sipt fi-checkbox-s" onclick="searchFilter(this,4)" type="checkbox" id="stock" {if $isStock==1}checked{/if}/> 仅看有货产品
                </label>
            </span>
    </div>
</div>

{/* 商品展示  */}
<div style="width:100%;background-color:#f5f5f5;">
	<div class="fi-container">
	   {if !empty($goodsPage["Rows"])}
		
		<div class='goods-main'>
		   <div class='goods-filters'>
		   	  <div class='line'>
		   	  <div class='fi-lfloat chk'>发货地</div>
		        <div class='city fi-address'>
			    <div class='item dorpdown'>
			     <div class='drop-down'>
			        <a class='link' href='__ROOT__'>
			        	{if empty($areaInfo['areaName'])}
			        	广州市
			        	{else /}
			        		{$areaInfo['areaName']}
			        	{/if}
			        </a>
			        <i class="drop-down-arrow"></i>
			     </div>
			     <div class="dorp-down-layer">
			     	<div class="tab-header">
			     	 <ul class="tab">
			     	 	<li class="tab-item1" id="fl_1_1" onclick="gpanelOver(this);" c="1" >
			     	 		{if isset($areaInfo)}
			     	 		<a href='javascript:void(0)'>{$areaInfo[0]['areaName']}</a>
			     	 		{else /}
			     	 		<a href='javascript:void(0)'>广东省</a>
			     	 		{/if}
			     	 	</li>

			     	 	{if isset($areaInfo)}
			     	 	<li class="tab-item1" id="fl_1_2" onclick="gpanelOver(this);" c="1" >
							<a href="javascript:void(0)">{$areaInfo[1]['areaName']}</a>
						</li>
						<li class="tab-item1 j-tab-selected1" id="fl_1_3" onclick="gpanelOver(this);" c="1" >
							<a href="javascript:void(0)">{$areaInfo[2]['areaName']}</a>
						</li>
						{else /}
						<li class="tab-item1" id="fl_1_2" onclick="gpanelOver(this);" c="1" pid="440100" >
							<a href="javascript:void(0)">广州市</a>
						</li>
						<li class="tab-item1 j-tab-selected1" id="fl_1_3" onclick="gpanelOver(this);" c="1" pid="440106" >
							<a href="javascript:void(0)">天河区</a>
						</li>
						{/if}


						
			     	 </ul>
			     	</div>
			     	 <ul class="area-box" id="fl_1_1_pl" style="display:none;">
			     	 	{volist name="$area1" id="area1"}
						<li onclick="choiceArea(this,{$area1['areaId']})" search='1'><a href="javascript:void(0)">{$area1['areaName']}</a></li>
						{/volist}
					</ul>
					<ul class="area-box" id="fl_1_2_pl" style="display:none;">
						{volist name="$area2" id="area2"}
						<li onclick="choiceArea(this,{$area2['areaId']})" search='1'><a href="javascript:void(0)">{$area2['areaName']}</a></li>
						{/volist}
					</ul>

					<ul class="area-box" id="fl_1_3_pl">
						{volist name="$area3" id="area3"}
						<li onclick="choiceArea(this,{$area3['areaId']})" search='1'><a href="javascript:void(0)">{$area3['areaName']}</a></li>
						{/volist}
					</ul>

				</div>


				</div>
				</div>
		        <div class='chk'>
				 <div class="checkbox-box-s">
			     <input name='isStock' value='1' class="sipt fi-checkbox-s" onclick="searchFilter(this,4)" type='checkbox' id="stock" {if $isStock==1}checked{/if}/>
			     <label for="stock"></label>
			     </div>
		                  仅显示有货</div>
		        <div class='chk'>
		         <div class="checkbox-box-s">
			     <input name='isNew' value='1' class="sipt fi-checkbox-s" onclick="searchFilter(this,4)" type='checkbox' id="new" {if $isNew==1}checked{/if}/>
			     <label for="new"></label>
			     </div>
		                  新品</div>
		      </div>
		      <div class='line line2'>
		        <a class="{if condition="$orderBy eq 0"}curr {/if}" href='javascript:void(0)' onclick='javascript:searchOrder(0)'>销量<span class="{if condition="$orderBy neq 0"}store{/if}{if condition="$orderBy eq 0 and $order eq 1"}store2{/if}{if condition="$orderBy eq 0 and $order eq 0"}store3{/if}"></span></a>
		        <a class="{$orderBy==1?'curr':''}" href='javascript:void(0)' onclick='javascript:searchOrder(1)'>价格<span class="{if condition="$orderBy neq 1"}store{/if}{if condition="$orderBy eq 1 and $order eq 1"}store2{/if}{if condition="$orderBy eq 1 and $order eq 0"}store3{/if}"></span></a>
		        <a class="{$orderBy==2?'curr':''}" href='javascript:void(0)' onclick='javascript:searchOrder(2)'>评论数<span class="{if condition="$orderBy neq 2"}store{/if}{if condition="$orderBy eq 2 and $order eq 1"}store2{/if}{if condition="$orderBy eq 2 and $order eq 0"}store3{/if}"></span></a>
		        <a class="{$orderBy==3?'curr':''}" href='javascript:void(0)' onclick='javascript:searchOrder(3)'>人气<span class="{if condition="$orderBy neq 3"}store{/if}{if condition="$orderBy eq 3 and $order eq 1"}store2{/if}{if condition="$orderBy eq 3 and $order eq 0"}store3{/if}"></span></a>
		        <a class="{$orderBy==4?'curr':''}" href='javascript:void(0)' onclick='javascript:searchOrder(4)'>上架时间<span class="{if condition="$orderBy neq 4"}store{/if}{if condition="$orderBy eq 4 and $order eq 1"}store2{/if}{if condition="$orderBy eq 4 and $order eq 0"}store3{/if}"></span></a>
	        	<div class="fi-price-ipts">
				<span class="fi-price-ipt1">￥</span><span class="fi-price-ipt2">￥</span>
				<input type="text" class="sipt fi-price-ipt" id="sprice" value="{$sprice}" style="margin-left:8px;" onkeypress='return FI.isNumberdoteKey(event);' onkeyup="javascript:FI.isChinese(this,1)">
				- <input type="text" class="sipt fi-price-ipt" id="eprice" value="{$eprice}" onkeypress='return FI.isNumberKey(event);' onkeyup="javascript:FI.isChinese(this,1)">
				</div>
				<button class="fi-price-but" type="submit" style="width:60px;height: 25px;" onclick='javascript:searchOrder()'>确定</button>
		      </div>
		   </div>
		   
		   	   <ul class="goods-list">
		   	      {volist name='goodsPage["Rows"]' id='vo'}
		   	      <li class="goods_li">
			   	      <div class="goods">
			   	      	<div class="p-shop"><p class="goods_addr">四川.成都.锦江</p></div>
			   	      	<div class="img"><a target='_blank' href="{:Url('home/goods/detail','id='.$vo['goodsId'])}"><img title="{$vo['goodsName']}" alt="{$vo['goodsName']}" class='goodsImg2' data-original="__ROOT__/{:FIImg($vo['goodsImg'])}"/></a></div>
			   	      	<div class="p-name"><a target='_blank' href="{:Url('home/goods/detail','id='.$vo['goodsId'])}" class="fi-redlink" title="{$vo['goodsName']}" style="text-align: center;">{:FIMSubstr($vo['goodsName'],0,15)}</a></div>
			   	      	<div>
			   	      		<p class="p-price">￥{$vo['shopPrice']}</p>
			   	      	</div>
			   	      	<div class="p-hsale">

			   	      		<a href="{:Url('home/shops/home','shopId='.$vo['shopId'])}" target='_blank' class="shop_name">{:FIMSubstr($vo['shopName'],0,8)}</a>
			   		      	<a class="p-add-cart" style="display:none;" href="javascript:FI.addCart({$vo['goodsId']});">加入购物车</a>
			   	      	</div>
			   	      </div>
		   	      </li>
		   	      {/volist}
		   	     <div class='fi-clear'></div>
		   	   	</ul>
		   
		   	<div style="width:980px;margin-top:60px;">
		  		<div id="fi-pager"></div>
			</div>
			
		</div>
		<div class='fi-clear'></div>
		{else}
		<div class="fi-no-goods">很抱歉，没有找到“<span>{$keyword}</span>”为关键字的商品搜索结果。</div>
		{/* 找不到商品的话就为用户推荐一些  */}
		
		{/if}
		
	</div>

</div>



{include file="default/right_cart"/}
{/block}
{block name="js"}
<script type='text/javascript' src='__HOME__/js/goodslist.js?v={$v}'></script>
{if !empty($goodsPage["Rows"])}
<script type='text/javascript'>
laypage({
    cont: 'fi-pager',
    pages: {$goodsPage["TotalPage"]}, //总页数
    skip: true, //是否开启跳页
    skin: '#e23e3d',
    groups: 3, //连续显示分页数
    curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
        var page = location.search.match(/page=(\d+)/);
        return page ? page[1] : 1;
    }(), 
    jump: function(e, first){ //触发分页后的回调
        if(!first){ //一定要加此判断，否则初始时会无限刷新
        	var nuewurl = FI.splitURL("page");
        	var ulist = nuewurl.split("?");
        	if(ulist.length>1){
        		location.href = nuewurl+'&page='+e.curr;
        	}else{
        		location.href = '?page='+e.curr;
        	}
            
        }
    }
});
</script>

<script type="text/javascript">
	$(function(){
		//品牌部分或全展示动画
		var $find_more = $('.find_more'),
			$option_box = $('.option_box')
			$up = $('img.up');
			$down = $('img.down');
		$find_more.click(function(event) {
			var $index = $(this).index('.find_more'),
				$that = $option_box.eq($index);
			$that.toggleClass('unspread');
			if (/unspread/.test($that.attr('class'))) {
				$down.eq($index).show();
				$up.eq($index).hide();
			} else{
				$down.eq($index).hide();
				$up.eq($index).show();
			};
		});
	})
</script>
{/if}
{/block}
