{extend name="default/base" /} {block name="title"}商品搜索 -{:FIConf('CONF.mallName')}{__block__}{/block} {block name="meta"}
<meta name="description" content="{:FIConf('CONF.seoMallDesc')}，商品关键字搜索">
<meta name="Keywords" content="{$keyword}"> {/block} {block name="css"}
<link href="__HOME__/css/goodslist.css?v={$v}" rel="stylesheet"> {/block} {block name="nav"} {include file="default/header" /} {/block} {block name="main"} {/* 推荐热卖 */}
<input type="hidden" id="keyword" class="sipt" value='{$keyword}' />
<input type="hidden" id="orderBy" class="sipt" value='{$orderBy}' />
<input type="hidden" id="brandName" class="sipt" value='{$brandName}' />
<input type="hidden" id="upOrDown" class="sipt" value='{$upOrDown}' />
<div class="filter-box">
    <div class='fi-filters'>
        <div class='item'>
            <a class='link' href='__ROOT__'>全部结果</a>
        </div>
        <div class='fi-lfloat keyword'><i class="arrow">></i>{$keyword}</div>
        <?php if(!empty($brandName)): ?>
        <div class='fi-lfloat keyword'><i class="arrow">></i>
            <?php echo lang('brand name').': '; ?>
            <?php echo $brandName; ?>
            <i class="fa fa-window-close" aria-hidden="true" style="cursor:pointer;" onclick="closeBrand()"></i>
        </div>
        <?php endif; ?>
        <div class='fi-clear'></div>
    </div>
</div>
<div class="filter-box">
    <?php if(!empty($facetFields)): ?>
    <div class="filter js-options" data-monitor="">
        <div class="hint">品牌: </div>
        <div class="option_box unspread">
            <?php foreach($facetFields as $brand): ?>
            <a href="javascript:void(0)" title="<?php echo $brand; ?>">
                <?php echo $brand; ?>
            </a>
            <?php endforeach; ?>
            <div class="find_more" style="display: block;">
                <span class="spread_icon">
                        <img class="up" src="__HOME__/img/icon_up.png" style="display:none;">
                        <img class="down" src="__HOME__/img/icon_down.png">
                    </span>
                <span class="find_txt">查看更多</span>
            </div>
        </div>
    </div>
    <?php endif; ?>
    <div class="filter js-sort last">
        <span class="hint">排序: </span>
        <a class="<?php if($orderBy == 'default') echo 'active'; ?>" href='javascript:void(0)' onclick='javascript:searchOrderBy("default")'>默认</a>
        <a class="<?php if($orderBy == 'saleNum') echo 'active'; ?>" href='javascript:void(0)' onclick='javascript:searchOrderBy("saleNum")'>销量</a>
        <a class="<?php if($orderBy == 'price') echo 'active'; ?>" href='javascript:void(0)' onclick='javascript:searchOrderBy("price")'>价格<?php if($upOrDown == 'up'): ?> <i class="fa fa-long-arrow-up active" aria-hidden="true"></i><?php elseif($upOrDown == 'down'): ?> <i class="fa fa-long-arrow-down active" aria-hidden="true"></i><?php endif; ?></a>
        <a class="<?php if($orderBy == 'appraiseNum') echo 'active'; ?>" href='javascript:void(0)' onclick='javascript:searchOrderBy("appraiseNum")'>评论数</a>
    </div>
</div>
{/* 商品展示 */}
<div style="width:100%;background-color:#f5f5f5;">
    <div class="fi-container">
        <?php if(!empty($list)): ?>
        <div class='goods-main'>
            <ul class="goods-list">
                <?php foreach($list as $vo): ?>
                <li class="goods_li">
                    <div class="goods">
                        <div class="p-shop">
                            <p class="goods_addr">
                                <?php echo explode('_',$vo['province'])[1].' '.explode('_',$vo['city'])[1].' '.explode('_',$vo['district'])[1]; ?>
                            </p>
                        </div>
                        <div class="img">
                            <a target='_blank' href="{:Url('home/goods/detail','id='.$vo['goodsId'])}"><img title="{$vo['goodsName']}" alt="{$vo['goodsName']}" class='goodsImg2' data-original="__ROOT__/{:FIImg($vo['goodsImg'])}" /></a>
                        </div>
                        <div class="p-name">
                            <a target='_blank' href="{:Url('home/goods/detail','id='.$vo['goodsId'])}" class="fi-redlink" title="{$vo['goodsName']}" style="text-align: center;">
                                <?php echo FIMSubstr($vo['goodsName'],0,15) ?>
                            </a>
                        </div>
                        <div>
                            <p class="p-price">￥
                                <?php echo $vo['shopPrice']; ?>
                            </p>
                        </div>
                        <div class="p-hsale">
                            <a href="{:Url('home/shops/home','shopId='.$vo['shopId'])}" target='_blank' class="shop_name">
                                <?php echo FIMSubstr($vo['shopName'],0,8); ?>
                            </a>
                            <a class="p-add-cart" style="display:none;" href="javascript:FI.addCart({$vo['goodsId']});">加入购物车</a>
                        </div>
                    </div>
                </li>
                <?php endforeach; ?>
                <div class='fi-clear'></div>
            </ul>
            <div style="width:980px;margin-top:60px;">
                <div id="fi-pager">
                    <?php echo $page; ?>
                </div>
            </div>
        </div>
        <div class='fi-clear'></div>
        <?php else: ?>
        <div class="fi-no-goods">很抱歉，没有找到“<span>{$keyword}</span>”为关键字的商品搜索结果。</div>
        {/* 找不到商品的话就为用户推荐一些 */}
        <?php endif; ?>
    </div>
</div>
{include file="default/right_cart"/} {/block} {block name="js"}
<script type='text/javascript' src='__HOME__/js/goodslist.js?v={$v}'></script>
<script type="text/javascript">
$(function() {
    //品牌部分或全展示动画
    var $find_more = $('.find_more'),
        $option_box = $('.option_box'),
        $up = $('img.up'),
        $down = $('img.down')
    $brand_a = $('.unspread a');
    $brandName = $('#brandName');
    $find_more.click(function(event) {
        var $index = $(this).index('.find_more'),
            $that = $option_box.eq($index);
        $that.toggleClass('unspread');
        if (/unspread/.test($that.attr('class'))) {
            $down.eq($index).show();
            $up.eq($index).hide();
        } else {
            $down.eq($index).hide();
            $up.eq($index).show();
        };
    });

    $brand_a.click(function(event) {
        $brandName.val($(this).attr('title'));
        searchComponent();
    })
})
</script>
{/block}
