{include file="default/header_top" /}
<div class='fi-lite-container'>
   <div class='fi-logo'>
    <a href='{$Request.root.true}' title="{:FIConf('CONF.mallName')}" >
      <img src="__ROOT__/{:FIConf('CONF.mallLogo')}" height="120" width='240' title="{:FIConf('CONF.mallName')}" alt="{:FIConf('CONF.mallName')}">
    </a>
   </div>
   <div class="fi-lite-title">{$liteTitle}</div>
   <div class="fi-lite-index"><a href='{$Request.root.true}'>返回首页</a></div>
   <div class="fi-clear"></div>
</div>
<div style="border-bottom: 2px solid #df2003;"></div>
<div class="fi-clear"></div>