{extend name="default/base" /} {block name="title"}{:FIConf('CONF.mallName')}-{:FIConf('CONF.mallSlogan')}{__block__}{/block} {block name="meta"}
<meta name="description" content="{:FIConf('CONF.seoMallDesc')}">
<meta name="Keywords" content="{:FIConf('CONF.seoMallKeywords')}"> {/block} {block name="css"}
<link href="__HOME__/css/index.css?v={$v}" rel="stylesheet"> {/block} {block name="main"} {/* 横栏广告 */}
<div class="fi-ads">
    <div class="fi-slide" id="fi-slide">
        <ul class="fi-slide-items">
            <!--轮播广告 start-->
            {fi:ads code="ads-index" cache='86400'}
            <a href="{$vo.adURL}" {if ($vo[ 'adURL']!='' )}onclick="FI.recordClick({$vo['adId']})" {/if}>
                <li style="background: url(__ROOT__/{$vo.adFile}) no-repeat  scroll center top;background-size:cover;"></li>
            </a>
            {/fi:ads}
            <!--轮播广告 end-->
        </ul>
        <!--轮播下面的转换灯-->
        <div class="fi-slide-numbox">
            <div class="fi-slide-controls">
                {fi:ads code="ads-index" cache='86400' key='k'} {if condition="$k+1 eq 1"}
                <span class="curr">{$k+1}</span> {else/}
                <span class="">{$k+1}</span> {/if} {/fi:ads}
            </div>
        </div>
    </div>
</div>
<div class='fi-main' style="margin-top: 35px;">
    <div class='fi-container'>
        <!--推荐商品 start-->
        <div class="recommend" id="recommend">
            <div class="part-container"><span class="vline"></span><span class="vicon"></span><span class="part-title">推荐商品</span><span class="vicon"></span><span class="vline"></span></div>
            <div class="fi-clear"></div>
            <ul class="part-container">
                <?php for($i = 0; $i < 6; $i++): ?>
                    <?php $adsCode = 'ads-rec-'.$i; ?>
                    {fi:ads code="$adsCode" num="1" cache='86400' id='lad'}
                    <li class="ac<?php echo $i; ?>">
                        <a href="{$lad['adURL']}" target="_blank" {if ($lad[ 'adURL']!='' )} onclick="FI.recordClick({$lad['adId']})" data-monitor="home_activity_ziyuanwei01"> <img class="js-lazyload goodsImg" data-original="__ROOT__/{$lad['adFile']}"> </a>
                    </li>
                    {/fi:ads}
                <?php endfor; ?>
                
            </ul>
        </div>
        <div class="fi-clear"></div>
        <!--推荐商品 end-->
        {/* 楼层商品 */} {volist name="floors" id="vo" key="l" length="10"} {/* 楼层顶部广告 */} {php}$adsCode = "ads-".$l."-1";{/php}
        <div class="floor-box">
            <div class="floor-header c{$l}" id="c{$l}">
                <div class="part-container "><span class="vline"></span><span class="vicon"></span><a class="part-title-cat" name="anchor{$l}" id="anchor{$l-1}">{$vo['catName']}</a><span class="vicon"></span><span class="vline"></span></div>
                <div class="fi-clear"></div>
            </div>
            <div class="floor-left">
                {/* 楼层左侧广告(左上) start */}
                <div class="floor-left-ads">
                    {php}$adsCode = "ads-".$l."-2";{/php} 
                    {fi:ads code="$adsCode" num="1" cache='86400' id='lad'}
                    <a href="{$lad['adURL']}" {if ($lad[ 'adURL']!='' )}onclick="FI.recordClick({$lad['adId']})" {/if}><img style="width:240px;height:418px;" class='goodsImg' data-original="__ROOT__/{$lad['adFile']}"> </a>
                    {/fi:ads}
                </div>
                {/* 楼层左侧广告(左上) end */} {/* 楼层左侧广告(左下) start todo */}
                <div class="floor-left-goods">
                    {php}$adsCode = "ads-".$l."-1";{/php} 
                    {fi:ads code="$adsCode" num="1" cache='86400' id='lad'}
                    <a href="{$lad['adURL']}" {if ($lad[ 'adURL']!='' )}onclick="FI.recordClick({$lad['adId']})" {/if}><img class="js-lazyload goodsImg" data-size="240_140_" data-original="__ROOT__/{$lad['adFile']}" style="display: block;"> </a>
                    {/fi:ads}
                </div>
                {/* 楼层左侧广告(左下) end todo*/}
            </div>
            {/* 热门下的商品,含右侧广告 start*/}
            <div class="floor-right" id="fl_{$l}_0_pl">
                <div class="floor-right-ads">
                    <div class="fi-floor-slide-{$l}" id="fi-floor-slide-{$l}">
                        <!--右侧轮播广告 start-->
                        <ul class="fi-floor-slide-items">
                            {php}$adsCode = "ads-".$l."-3";{/php} 
                            {fi:ads code="$adsCode" cache='86400' id='rad'}
                            <li style="z-index: 1;">
                                <a href="{$rad.adURL}" {if ($rad[ 'adURL']!='' )}onclick="FI.recordClick({$rad['adId']})" {/if}><img class='goodsImg' data-original="__ROOT__/{$rad.adFile}"></a>
                            </li>
                            {/fi:ads}
                        </ul>
                        <!--右侧轮播广告 end-->
                        <!--右侧轮播广告按钮 start-->
                        <div class="fi-floor-slide-numbox">
                            <div id="fi-floor-slide-controls-{$l}">
                                {php}$adsCode = "ads-".$l."-3";{/php} {fi:ads code="$adsCode" cache='86400' key='k' id='rad'} {if condition="$k eq 1"}
                                <span class="curr"> </span> {else/}
                                <span class=""> </span> {/if} {/fi:ads}
                            </div>
                        </div>
                        <!--右侧轮播广告按钮 end-->
                    </div>
                </div>
                <div class="goods-list">
                    {/* 楼层分类下的商品 */} {fi:goods type='hot' cat="vo['catId']" cache="86400" num='6' id='cs'}
                    <div class="goods goods-f{$l}">
                        <div class="img">
                            <a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" title="{$cs['goodsName']}"><img title="{$cs['goodsName']}" class='goodsImg' data-original="__ROOT__/{$cs['goodsImg']}" /></a>
                        </div>
                        <div class="p-name">
                            <p class="p-price">￥{$cs['shopPrice']}</p>
                            <a target='_blank' href="{:Url('home/goods/detail','id='.$cs['goodsId'])}" class="fi-redlink" title="{$cs['goodsName']}">{:FIMSubstr($cs['goodsName'],0,12)}</a>
                        </div>
                    </div>
                    {/fi:goods}
                    <div class='fi-clear'></div>
                </div>
                <div class="fi-clear"></div>
            </div>
            {/* 热门下的商品,含右侧广告 end*/}
        </div>
        {/volist}
    </div>
</div>
<div id="screen-left-nav" style="display:none;">
    <ul>
        <?php foreach($floors as $k => $val): ?>
            <li class="lnav" id="F<?php echo $k;?>"><a href="#anchor<?php echo $k; ?>" onfocus="this.blur();"><?php echo $val['catName']; ?></a></li>
        <?php endforeach; ?>
    </ul>
</div>
{/* 右侧菜单栏 */} {include file="default/right_cart"/} {/block} {block name="js"}
<script type='text/javascript' src='__ROOT__/fi/static/plugins/lazyload/jquery.lazyload.min.js?v={$v}'></script>
<script type='text/javascript' src='__HOME__/js/index.js?v={$v}'></script>
{/block} {/block}
