{extend name="default/base" /}
{block name="title"}我的购物车 - {:FIConf('CONF.mallName')}{__block__}{/block}
{block name="css"}
<link href="__HOME__/css/carts.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<div class="fi-container">
	
    <div class="pay-sbox-head">
    	<a href='{$Request.root.true}'>首页</a>&nbsp;&gt;&nbsp;支付
    </div>
    <div>
    	<div class="pay-tip1"></div>
    </div>
    <div class='pay-sbox'>
    	<div>
	    <div class="tips-box">
	    	<input type="hidden" id="oId" value="{$id}"/>
	    	<input type="hidden" id="isBatch" value="{$isBatch}"/>
	    	请及时付款，以便快速处理您的订单，在线实付金额<span class="fi-fred">&nbsp;¥{$object['total_money']}&nbsp;</span><span id="fi-check-orders" class="fi-check-orders">查看订单详情</span>
	    </div>
	    <div>
		    <div id="fi-orders-box" style="display:none;">
			    <table class='fi-order-list'>
				 	{volist name="$rs['list']" id="order"}
				 	<thead>
					 	<tr>
					     	<td colspan="3" class="fi-left-noborder fi-align-left">订单号：{$order['order_no']}</td>
					        <td colspan="3" class="fi-right-noborder fi-align-right">订单金额：￥{$order['need_pay']}【运费：￥{$order['deliver_money']}】</td>
					 	</tr>
					 	<tr class='head'>
					         <td colspan="2" class="fi-left-noborder">商品</th>
					         <th width="150">商品单价</th>
					         <th width="150">数量</th>
					         <th width="150" class="fi-right-noborder">商品总价</th>
					   	</tr>
				   </thead>
				   <tbody class="otbody">
				 	{volist name="$rs['goods'][$order['order_id']]" id="vo"}
				 	<tr>
				     	<td class="fi-left-noborder" width="64">
				     		<div class="goods-img">
					     		<a href="{:url('home/goods/detail',array('id'=>$vo['goods_id']))}" target="_blank">
					     			<img class='goods_img' data-original="__ROOT__/{$vo['goods_img']}"  title="{$vo['goods_name']}" width='60'/>
					     		</a>
				     		</div>
				     	</td>
				        <td class="fi-align-left">
				        	<div>{$vo['goods_name']}
				        	{if condition="count($vo['goods_spec_names']) gt 0"}
				        		【
				        		{volist name="$vo['goods_spec_names']" id="spec"}
				        		{$spec}&nbsp;
				        		{/volist}
				        		】
				        	{/if}
				        	</div>
				        </td>
				        <td>{$vo['goods_price']}</td>
				        <td>{$vo['goods_num']}</td>
				        <td class="fi-right-noborder">{$vo['goods_price']*$vo['goods_num']}</td>
				 	</tr>
				 	{/volist}
				 	{/volist}
			       </tbody>
			    </table>
		    </div>
		    <div class="pay-type">选择支付方式</div>
		    <div class="pay-list">
		    	<input type="hidden" id="pay_code" name="pay_code" />
		    	{volist name="$rs['payments']" id="payment"}
                 	{if condition="$payment['is_online'] eq 1"}
                    	<div class="fi-pay_code-{$payment['pay_code']}" data="{$payment['pay_code']}"></div>
                 	{/if}
                 {/volist}
		         <div class="fi-clear"></div>
		    </div>
		    <div class="bnt-box">
		    	<div onclick='javascript:getPayUrl();' class="fi-pay-bnt"></div>
		    </div>
	    </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type='text/javascript' src='__HOME__/js/carts.js?v={$v}'></script>
<script>
$(function(){
	$("#fi-check-orders").click(function(){
		$("#fi-orders-box").slideToggle(600);
	});
	$("div[class^=fi-pay_code]").click(function(){
		var pay_code = $(this).attr("data");
		$("div[class^=fi-pay_code]").each(function(){
			$(this).removeClass().addClass("fi-pay_code-"+$(this).attr("data"));
		});
		$(this).removeClass().addClass("fi-pay_code-"+pay_code+"-curr");
		$("#pay_code").val(pay_code);
	});
	if($("div[class^=fi-pay_code]").length>0){
		$("div[class^=fi-pay_code]")[0].click();
	}
});

</script>
{/block}