{include file="default/header_top" /}
{if !isset($_COOKIE['ads_cookie'])}
{fi:ads code="index-top-ads" cache='86400'}
<div class="index-top-ads">
  <a href="{$vo['ad_url']}" {if ($vo['ad_url']!='')}onclick="FI.recordClick({$vo['ad_id']})"{/if} onfocus="this.blur();"><img src="__ROOT__/{$vo['ad_file']}"></a>
  <a href="javascript:;" class="close-ads" onclick="FI.closeAds(this)"></a>
</div>
{/fi:ads}
{/if}
<div class='fi-search-container'>
   
    <div class="fi-shop-h">
    <div class="fi-shop-img"><a href="{:url('home/shops/home',array('shop_id'=>$data['shop']['shop_id']))}"><img class="shopsImg" data-original="__ROOT__/{$data['shop']['shop_img']}" title="{$data['shop']['shop_name']}"></a></div>
    <div class="fi-shop-info">
      <p>{$data['shop']['shop_name']}</p>
      <div class="fi-shop-info2">
      {volist name="$data['shop']['accreds']" id="ac"}
      <img src="__ROOT__/{$ac['accred_img']}"><span>{$ac['accred_name']}</span>
      {/volist}
      {if($data['shop']['shop_qq'])}
      <a href="tencent://message/?uin={$data['shop']['shop_qq']}&Site=QQ交谈&Menu=yes">
        <img border="0" style="width:65px;height:24px;" src="http://wpa.qq.com/pa?p=1:{$data['shop']['shop_qq']}:7">
      </a>
      {/if}
      {if($data['shop']['shop_wangwang'])}
      <a href="http://www.taobao.com/webww/ww.php?ver=3&touid={$data['shop']['shop_wangwang']}&siteid=cntaobao&status=1&charset=utf-8" target="_blank">
      <img style="margin:-1px 0px 0px 6px;" src="__HOME__/img/icon_dianpujie_04.png">
      </a>
      {/if}
      </div>
      <div class="fi-shop-info3">
        <span class="fi-shop-eva">商品评价：<span class="fi-shop-red">{$data['shop']['scores']['goods_score']}</span></span>
        <span class="fi-shop-eva">时效评价：<span class="fi-shop-red">{$data['shop']['scores']['time_score']}</span></span>
        <span class="fi-shop-eva">服务评价：<span class="fi-shop-red">{$data['shop']['scores']['service_score']}</span></span>
        {if($data['shop']['favShop']>0)}
        <a href='javascript:void(0);' onclick='FI.cancelFavorite(this,1,{$data['shop']['favShop']})' class="fi-shop-evaa j-fav">已关注</a>
        {else}
        <a href='javascript:void(0);' onclick='FI.addFavorite(this,1,{$data['shop']['shop_id']})' class="fi-shop-evaa j-fav2">关注店铺</a>
        {/if}
        <span class="fi-shop-eva">用手机逛本店  &nbsp;&nbsp;|</span>
        <a class="fi-shop-code"><span class="fi-shop-codes hide"><div id='qrcode' style='width:142px;height:142px;'></div></span></a>
      </div>
    </div>
    <div class="fi-shop-sea">
      <input type="text" id="goods_name" value="{$goods_name}" placeholder="输入商品名称">
      <a class="search" href="javascript:void(0);" onclick="javascript:FI.goodsSearch($('#goods_name').val());">搜全站</a>
      <a class="search" href="javascript:void(0);" onclick="javascript:searchShopsGoods(0);">搜本店</a>
      <div class="fi-shop-word">
      {volist name="data['shop']['shop_hot_words']" id="shw"}
      <a href='{:Url("home/shops/home",array('shop_id'=>$data['shop']['shop_id'],'goods_name'=>$shw))}'>{$shw}</a>{if $i< count($data['shop']['shop_hot_words'])}&nbsp;|&nbsp;{/if}
      {/volist}
      </div>
    </div>
    <div class="fi-clear"></div>
    </div>
</div>
{if($data['shop']['shop_banner'])}<div class="fi-shop-tu" style="background: url(__ROOT__/{$data['shop']['shop_banner']}) no-repeat  scroll center top;background-size:cover;"></div>{/if}
<div class="fi-clear"></div>
<div class="s-fi-nav-menus">
      <div id="s-fi-nav-items">
           <ul>
               <li class="s-nav-li s-cat-head"><a href="{:Url('home/shops/home',['shop_id'=>$data['shop']['shop_id']])}" target="_blank"><em></em>本店商品分类</a></li>
               {volist name="$data['shopcats']" id="cat1" key="l" length="6"}
               <li class="s-nav-li">
                    <a href="{:url('home/shops/home',['shop_id'=>$data['shop']['shop_id'],'ct1'=>$cat1['cat_id']])}" target="_blank">{$cat1['cat_name']}</a>
               </li>
               {/volist}
               <li class="s-nav-li"> <a class="homepage" href="{:url('/')}" target="_blank">返回商城首页</a></li>
           </ul>
      </div>
      
      <span class="fi-clear"></span>
    </div>
</div>
<div class="fi-clear"></div>
