{extend name="default/base" /}
{block name="title"}{$data['shop']['shop_name']} - {:FIConf('CONF.mallName')}{__block__}{/block}
<meta name="description" content="{$data['shop']['shop_desc']},{:FIConf('CONF.mallName')}">
<meta name="Keywords" content="{$data['shop']['shop_keywords']},{:FIConf('CONF.mallName')}">
{block name="css"}
<link href="__STATIC__/plugins/lazyload/skin/laypage.css?v={$v}" rel="stylesheet">
<link href="__STATIC__/plugins/slide/css/slide.css?v={$v}" rel="stylesheet">
<link href="__HOME__/css/style.css?v={$v}" rel="stylesheet">
<link href="__HOME__/css/shophome.css?v={$v}" rel="stylesheet">
{/block}
{block name="nav"}
	{include file="default/header_top" /}
	<div class="fi-container">
		<div class="fi-shop-h">
		<div class="fi-shop-img"><a href="{:url('home/shops/home',array('shop_id'=>$data['shop']['shop_id']))}"><img class="shopsImg" data-original="__ROOT__/{$data['shop']['shop_img']}" title="{$data['shop']['shop_name']}"></a></div>
		<div class="fi-shop-info">
			<p>{$data['shop']['shop_name']}</p>
			<div class="fi-shop-info2">
			{volist name="$data['shop']['accreds']" id="ac"}
			<img src="__ROOT__/{$ac['accred_img']}"><span>{$ac['accred_name']}</span>
			{/volist}
			{if($data['shop']['shop_qq'])}
			<a href="tencent://message/?uin={$data['shop']['shop_qq']}&Site=QQ交谈&Menu=yes">
		        <img border="0" style="width:65px;height:24px;" src="http://wpa.qq.com/pa?p=1:{$data['shop']['shop_qq']}:7">
		    </a>
			{/if}
			{if($data['shop']['shop_wangwang'])}
			<a href="http://www.taobao.com/webww/ww.php?ver=3&touid={$data['shop']['shop_wangwang']}&siteid=cntaobao&status=1&charset=utf-8" target="_blank">
			<img style="margin:-1px 0px 0px 6px;" src="__HOME__/img/icon_dianpujie_04.png">
			</a>
			{/if}
			</div>
			<div class="fi-shop-info3">
				<span class="fi-shop-eva">商品评价：<span class="fi-shop-red">{$data['shop']['scores']['goods_score']}</span></span>
				<span class="fi-shop-eva">时效评价：<span class="fi-shop-red">{$data['shop']['scores']['time_score']}</span></span>
				<span class="fi-shop-eva">服务评价：<span class="fi-shop-red">{$data['shop']['scores']['service_score']}</span></span>
				{if($data['shop']['favShop']>0)}
				<a href='javascript:void(0);' onclick='FI.cancelFavorite(this,1,{$data['shop']['favShop']})' class="fi-shop-evaa j-fav">已关注</a>
				{else}
				<a href='javascript:void(0);' onclick='FI.addFavorite(this,1,{$data['shop']['shop_id']})' class="fi-shop-evaa j-fav2">关注店铺</a>
				{/if}
				<span class="fi-shop-eva">用手机逛本店  &nbsp;&nbsp;|</span>
				<a class="fi-shop-code"><span class="fi-shop-codes hide"><div id='qrcode' style='width:142px;height:142px;'></div></span></a>
			</div>
		</div>
		<div class="fi-shop-sea">
			<input type="text" id="goods_name" value="{$goods_name}" placeholder="输入商品名称">
			<a class="search" href="javascript:void(0);" onclick="javascript:FI.goodsSearch($('#goods_name').val());">搜全站</a>
			<a class="search" href="javascript:void(0);" onclick="javascript:searchShopsGoods(0);">搜本店</a>
			<div class="fi-shop-word">
			{volist name="data['shop']['shop_hot_words']" id="shw"}
			<a href='{:Url("home/shops/home",array('shop_id'=>$data['shop']['shop_id'],'goods_name'=>$shw))}'>{$shw}</a>{if $i< count($data['shop']['shop_hot_words'])}&nbsp;|&nbsp;{/if}
			{/volist}
			</div>
		</div>
		<div class="fi-clear"></div>
		</div>
	</div>
	{if($data['shop']['shop_banner'])}<div class="fi-shop-tu" style="background: url(__ROOT__/{$data['shop']['shop_banner']}) no-repeat  scroll center top;background-size:cover;"></div>{/if}
	 <div class='fi-header'>
		<div class="fi-shop-nav">
			<div class="fi-nav-box">
				<a href="{:url('home/shops/home',array('shop_id'=>$data['shop']['shop_id']))}"><li class="liselect fi-lfloat {if condition="$ct1 eq 0"}fi-nav-boxa{/if}">本店全部商品</li></a>
				{volist name="$data['shopcats']" id="sc" offset="0" length='8'}
					<a href="{:url('home/shops/home',array('shop_id'=>$sc['shop_id'],'ct1'=>$sc['cat_id']))}"><li class="liselect fi-lfloat {if condition="$ct1 eq $sc['cat_id']"}fi-nav-boxa{/if}">{$sc['cat_name']}</li></a>
				{/volist}
				
				<a class="homepage" href='{$Request.root.true}'>返回商城首页</a>
				<a id="show-map" class="homepage" href="javascript:void(0)">店铺位置</a>
				<div class="fi-clear"></div>
			</div>
		</div>
		<div class="fi-clear"></div>
	</div>
	<!-- 地图开始 -->
	<div id="gd" style="display:none;">
		<div id="gd-container"></div>
		<div id="gd-panel"></div>
		<div class="gd-button-group">
		    <input type="button" class="button" id="gd-route" value="重新规划路线" onclick="infowindow.open(map,lnglat)" style="display:none;" />
		    <input type="button" class="button" id="gd-redirect" value="去高德地图" onclick="gd.redirect(marker)" />
		</div>
	</div>
	<!-- 地图结束 -->
	{if($data['shop']['shop_ads'])}
	<div class="ck-slide">
		<ul class="ck-slide-wrapper">
			{volist name="$data['shop']['shop_ads']" id="ads"}
			<li>
				<a href="{$ads['adUrl']}" ><img class='goods_img' data-original="__ROOT__/{$ads['adImg']}" width="100%" height="400"/></a>
			</li>
			{/volist}
		</ul>
		<!-- <a href="javascript:;" class="ctrl-slide ck-prev" ></a> 
		<a href="javascript:;" class="ctrl-slide ck-next" ></a> -->
		<div class="ck-slidebox">
			<div class="slideWrap">
				<ul class="dot-wrap">
				{volist name="$data['shop']['shop_ads']" id="ads" key="i"}
					{if condition="$i eq 1"}
						<li class="current"><em>{$i}</em></li>
					{else}
						<li><em>{$i}</em></li>
					{/if}
				{/volist}
				</ul>
			</div>
		</div>
	</div>
	{/if}
{/block}
{block name="main"}

<input type="hidden" id="msort" value="{$msort}" autocomplete="off"/>
<input type="hidden" id="mdesc" value="{$mdesc}" autocomplete="off"/>
<input type="hidden" id="shop_id" value="{$data['shop']['shop_id']}" autocomplete="off"/>
<input type="hidden" id="ct1" value="{$ct1}" autocomplete="off"/>
<input type="hidden" id="ct2" value="{$ct2}" autocomplete="off"/>
<div class="fi-container">
	<div class="fi-shop-contl">
		<div class="fi-shop-cat">
			<p class="fi-shop-conlp">店铺分类</p>
			<div class="fi-shop-catt">
			{volist name="$data['shopcats']" id="sc1"}
				<li onclick="javascript:dropDown(this,{$sc1['cat_id']});" class="js-shop-plus">{:FIMSubstr($sc1['cat_name'],0,15)}</li>
				{if($sc1['children'])}
				<div class="fi-shop-catts tree_{$sc1['cat_id']}">
				{volist name="sc1['children']" id="sc2"}
					<a href="{:url('home/shops/home',array('shop_id'=>$sc1['shop_id'],'ct1'=>$sc1['cat_id'],'ct2'=>$sc2['cat_id']))}"><li>{:FIMSubstr($sc2['cat_name'],0,15)}</li></a>
				{/volist}
				</div>
				{/if}
			{/volist}
			</div>
		</div>
		  <div class="fi-shop-best">
			<p class="fi-shop-conlp">热卖商品</p>
			{fi:shopgoods type='hot' num='5' id='ho' shop="$data['shop']['shop_id']"}
			<a href="{:url('home/goods/detail',array('id'=>$ho['goods_id']))}" target="_blank">
			<div class="fi-shop-bestg">
				<div class="fi-shop-besti"><img class="goods_img" data-original="__ROOT__/{$ho['goods_img']}" title="{$ho['goods_name']}" alt="{$ho['goods_name']}"></div>
				<a href="{:url('home/goods/detail',array('id'=>$ho['goods_id']))}"><p class="fi-shop-bestgp1">{:FIMSubstr($ho['goods_name'],0,20)}</p></a>
				<p class="fi-shop-bestgp2">已售出<span class="fi-shop-bestpi">{$ho['sale_num']}</span>件</p>
				<p class="fi-shop-bestgp2"><span class="fi-shop-bestpr">￥{$ho['shop_price']}</span><span class="fi-shop-bestpr2">￥{$ho['market_price']}</span></p>
			</div>
			</a>
			{/fi:shopgoods}
			<div class="fi-clear"></div>
		</div>
		{if cookie("history_goods")!=''}
		<div class="fi-shop-lat">
			<p class="fi-shop-conlp">最近浏览</p>
			{fi:goods type='history' num='4'}
			<div class="fi-shop-bestg">
				<div class="fi-shop-besti"><a target='_blank' href="{:Url('home/goods/detail','id='.$vo['goods_id'])}"><img class="goods_img" data-original="__ROOT__/{:FIImg($vo['goods_img'])}" title="{$vo['goods_name']}" alt="{$vo['goods_name']}" ></div>
				<a href="{:url('home/goods/detail','id='.$vo['goods_id'])}" target='_blank'><p class="fi-shop-bestgp1">{$vo['goods_name']}</p></a>
				<p class="fi-shop-bestgp2">已售出<span class="fi-shop-bestpi">{$vo['sale_num']}</span>件</p>
				<p class="fi-shop-bestgp2"><span class="fi-shop-bestpr">￥{$vo['shop_price']}</span><span class="fi-shop-bestpr2">￥{$vo['market_price']}</span></p>
			</div>
			{/fi:goods}
			<div class="fi-clear"></div>
		</div>
		{/if}
	</div>
	<div class="fi-shop-contr">
		<div class="fi-shop-rec">
			<p class="fi-shop-conrp">店长推荐</p>
			<div class="fi-shop-recb">
			    {fi:shopgoods type='recom' num='4' id='re' shop="$data['shop']['shop_id']"}
				<div class="fi-shop-rgoods">
					<div class="fi-shop-goimg"><a href="{:url('home/goods/detail',array('id'=>$re['goods_id']))}" target="_blank"><img class="goods_img" data-original="__ROOT__/{$re['goods_img']}" title="{$re['goods_name']}"></a></div>
					<p class="fi-shop-gonam"><a href="{:url('home/goods/detail',array('id'=>$re['goods_id']))}" target="_blank">{:FIMSubstr($re['goods_name'],0,28)}</a></p>
					<div class="fi-shop-rect">
					<span>￥{$re['shop_price']}</span>
					{if($re['goods_stock'])}
					<a class="fi-shop-recta" href="javascript:FI.addCart({$re['goods_id']})">加入购物车</a>
					{else}
					<a class="fi-shop-recta2" href="javascript:void(0);">暂无商品</a>
					{/if}
					</div>
				</div>
			    {/fi:shopgoods}
				<div class="fi-clear"></div>
			</div>
		</div>
		<div class="fi-shop-list">
			<div class="fi-shop-listh">
				<a href="javascript:void(0);" class="{if condition="$msort eq 0"}fi-shop-a{/if}" onclick="searchShopsGoods(0);">综合排序</a>
				<a href="javascript:void(0);" class="{if condition="$msort eq 1"}fi-shop-a{/if}" onclick="searchShopsGoods(1);">人气<span class="{if condition="$msort neq 1"}fi-shop-store{/if}{if condition="$msort eq 1 and $mdesc eq 1"}fi-shop-store2{/if}{if condition="$msort eq 1 and $mdesc eq 0"}fi-shop-store3{/if}"></span></a>
				<a href="javascript:void(0);" class="{if condition="$msort eq 2"}fi-shop-a{/if}" onclick="searchShopsGoods(2);">销量<span class="{if condition="$msort neq 2"}fi-shop-store{/if}{if condition="$msort eq 2 and $mdesc eq 1"}fi-shop-store2{/if}{if condition="$msort eq 2 and $mdesc eq 0"}fi-shop-store3{/if}"></span></a>
				<a href="javascript:void(0);" class="{if condition="$msort eq 3"}fi-shop-a{/if}" onclick="searchShopsGoods(3);">价格<span class="{if condition="$msort neq 3"}fi-shop-store{/if}{if condition="$msort eq 3 and $mdesc eq 1"}fi-shop-store2{/if}{if condition="$msort eq 3 and $mdesc eq 0"}fi-shop-store3{/if}"></span></a>
				<a href="javascript:void(0);" class="{if condition="$msort eq 4"}fi-shop-a{/if}" onclick="searchShopsGoods(4);">好评度<span class="{if condition="$msort neq 4"}fi-shop-store{/if}{if condition="$msort eq 4 and $mdesc eq 1"}fi-shop-store2{/if}{if condition="$msort eq 4 and $mdesc eq 0"}fi-shop-store3{/if}"></span></a>
				<a href="javascript:void(0);" class="{if condition="$msort eq 5"}fi-shop-a{/if}" onclick="searchShopsGoods(5);">上架时间<span class="{if condition="$msort neq 5"}fi-shop-store{/if}{if condition="$msort eq 5 and $mdesc eq 1"}fi-shop-store2{/if}{if condition="$msort eq 5 and $mdesc eq 0"}fi-shop-store3{/if}"></span></a>
				<div class="fi-price-ipts">
				<span class="fi-price-ipt1">￥</span><span class="fi-price-ipt2">￥</span>
				<input type="text" class="fi-price-ipt" id="sprice" value="{$sprice}" style="margin-left:8px;" onkeypress='return FI.isNumberdoteKey(event);' onkeyup="javascript:FI.isChinese(this,1)">
				- <input type="text" class="fi-price-ipt" id="eprice" value="{$eprice}" onkeypress='return FI.isNumberKey(event);' onkeyup="javascript:FI.isChinese(this,1)">
				</div>
				<button class="fi-shop-but" type="submit" style="width:60px;height: 33px;" onclick="searchShopsGoods(0);">确定</button>
			</div>
			<div class="fi-clear"></div>
			<div class="fi-shop-listg">
				{volist name="$data['list']['Rows']" id="li"}
				<div class="fi-shop-goods">
					<div class="fi-shop-goimg"><a href="{:url('home/goods/detail',array('id'=>$li['goods_id']))}" target="_blank"><img class="goods_img" data-original="__ROOT__/{$li['goods_img']}" title="{$li['goods_name']}"></a><a href="javascript:FI.addCart({$li['goods_id']});"><span class="js-cart">加入购物车</span></a></div>
					<p class="fi-shop-gonam"><a href="{:url('home/goods/detail',array('id'=>$li['goods_id']))}" target="_blank">{:FIMSubstr($li['goods_name'],0,15)}</a></p>
					<p class="fi-shop-goodp1"><span class="fi-shop-goodpr">￥{$li['shop_price']}</span><span class="fi-rfloat">成交数：<span class="fi-shop-goodpr2">{$li['sale_num']}</span></span></p>
					<p class="fi-shop-goodp2"><span class="fi-shop-goodpr3">市场价：￥{$li['market_price']}</span><span class="fi-rfloat">已有<span class="fi-shop-goodpr4">{$li['appraise_num']}</span>人评价</span></p>
				</div>
				{/volist}
				<div class="fi-clear"></div>
			</div>
			<div class="fi-shop-pa">
				<div id="shopPage"></div>
			</div>
		</div>
	</div>
	<div class="fi-clear"></div>
</div>
{include file="default/right_cart"/}
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/plugins/slide/js/slide.js?v={$v}"></script>
<script type='text/javascript' src='__HOME__/js/shophome.js?v={$v}'></script>
<script type='text/javascript' src='__HOME__/js/qrcode.js?v={$v}'></script>
<script>
$(function(){
	if({$data['list']['TotalPage']}>1){
	laypage({
	    cont: 'shopPage',
	    pages: {$data['list']['TotalPage']}, //总页数
	    curr: {$data['list']['CurrentPage']},
	    skip: true, //是否开启跳页
	    skin: '#fd6148',
	    groups: 3, //连续显示分页数
	   	prev: '<<',
		next: '>>',
	    jump: function(e, first){ //触发分页后的回调
	        if(!first){ //一定要加此判断，否则初始时会无限刷新
	        	var nuewurl = FI.splitURL("page");
	        	var ulist = nuewurl.split("?");
	        	if(ulist.length>1){
	        		location.href = nuewurl+'&page='+e.curr;
	        	}else{
	        		location.href = '?page='+e.curr;
	        	}
	            
	        }
	    }
	});
	}
	var qr = qrcode(10, 'M');
	var url = window.location.href;
	qr.addData(url);
	qr.make();
	$('#qrcode').html(qr.createImgTag());
});
</script>
<!-- 地图js 开始 -->
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=85529f8860b0a549ae8505adf5a472d2&plugin=AMap.AdvancedInfoWindow"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script type="text/javascript">
var lnglat = [<?php echo $data['shop']['scores']['shop_lnglat']; ?>],
    shop_info = {
      shop_name:'<?php echo FIMSubstr($data['shop']['scores']['shop_name'],0,13)?>',
      img:'<?php echo $data['shop']['scores']['shop_img'] ?>',
      catshop_names:'<?php echo $data['shop']['scores']['catshop_names'];?>',
      sub_catshop_names:'<?php echo FIMSubstr($data['shop']['scores']['catshop_names'],0,13)?>',
      address:'<?php echo $data['shop']['scores']['area_name'].$data['shop']['scores']['shop_address']?>',
      sub_address:'<?php echo FIMSubstr($data['shop']['scores']['area_name'].$data['shop']['scores']['shop_address'],0,13)?>',
      telephone:'<?php echo $data['shop']['scores']['shop_tel']?:$data['shop']['scores']['telephone'] ?>'
    },
    show_map = $('#show-map'), 
    gd_div = $('#gd')
    ck_slide = $('.ck-slide');
    show_map.click(function(event) {
    	gd_div.slideToggle();
    });
    

</script>
<script type='text/javascript' src='__HOME__/js/gd.js'></script>
<!-- 地图js结束 -->
{/block}
{block name="footer"}{__block__}
{/block}