{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/users/users.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="fi-loading"></div>
<form id="userForm" autocomplete="off" >
<table class='fi-form fi-box-top'>
  <tr>
      <th width='150'>账号<font color='red'>*</font>：</th>
          <td width='370'>
            {if ($data['user_id']>0)}
              {$data['login_name']}
            {else /}
              <input type="text" class="ipt" id="login_name" name="login_name"  />
            {/if}
              
          </td>
          <td rowspan="5">
            <div id="preview" >
                <img src="__ROOT__/{if $data['user_photo']==''}{:FIConf('CONF.userLogo')}{else}{$data['user_photo']}{/if}"  height="150" />
            </div>
            <div id='ad_filePicker' style="margin-left:40px;">上传头像</div>
            <input type="hidden" id="user_photo" class="ipt" />
            <span id='uploadMsg'></span>

          </td>
       </tr>
       {if ((int)$data['user_id']==0)}
         <tr>
            <th>密码<font color='red'>*</font>：</th>
            <td><input type="password" id='login_password' class='ipt' maxLength='20' value='66666666' data-rule="登录密码: required;length[6~20]" data-target="#msg_login_password"/>
               <span id='msg_login_password'>(默认为66666666)</span>
             </td>
         </tr>
       {/if}
       <tr>
          <th>用户名<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_name" name="user_name" value="{$data['user_name']}" />
          </td>
       </tr>
       <tr>
          <th>性别<font color='red'>*</font>：</th>
          <td>
            <label><input type="radio" class="ipt" id="user_sex" name="user_sex" <?=($data['user_sex']==1)?'checked':'';?> value="1" />男</label>
            <label><input type="radio" class="ipt" id="user_sex" name="user_sex" <?=($data['user_sex']==2)?'checked':'';?> value="2" />女</label>
            <label><input type="radio" class="ipt" id="user_sex" name="user_sex" <?=($data['user_sex']==0)?'checked':'';?> value="0" />保密</label>
          </td>
       </tr>
       <tr>
          <th>手机号码<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_phone" name="user_phone" value="{$data['user_phone']}" />
          </td>
       </tr>
       <tr>
          <th>电子邮箱<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_email" name="user_email" value="{$data['user_email']}" />
          </td>
       </tr>
       <tr>
          <th>会员积分<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_score" name="user_score" value="{$data['user_score']}" />
          </td>
       </tr>
       <tr>
          <th>会员历史积分<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_total_score" name="user_total_score" value="{$data['user_total_score']}" />
          </td>
       </tr>
       <tr>
          <th>QQ<font color='red'>*</font>：</th>
          <td>
              <input type="text" class="ipt" id="user_qq" name="user_qq" value="{$data['user_qq']}" />
          </td>
       </tr>
       
       {if ((int)$data['user_id']==0)}
         <tr>
            <th>会员状态<font color='red'>*</font>：</th>
            <td>
                <label><input type="radio" class="ipt" id="user_status" name="user_status" <?=($data['user_status']!==0)?'checked':'';?> value="1" />启用</label>
                <label><input type="radio" class="ipt" id="user_status" name="user_status" <?=($data['user_status']===0)?'checked':'';?> value="0" />停用</label>
            </td>
         </tr>
       {/if}
  
  <tr>
     <td colspan='2' align='center'>
       <input type="hidden" name="id" id="user_id" class="ipt" value="<?=(int)$data['user_id']?>" />
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>
</form>
<script>
$(function(){editInit()});
</script>

{/block}

