{extend name="default/shops/base" /}
{block name="title"}卖家中心 - {:FIConf('CONF.mallName')}{__block__}{/block}
{block name="css"}
<style>
.fi-content{min-height:185px;}
</style>
{/block}
{block name="content"}
<div class="fi-shop-info">
	<span class="fi-shop-img">
	  <a href="{:url('home/shops/home',array('shop_id'=>$data['shop']['shop_id']))}">
	  <img src="__ROOT__/{:FIImg($data['shop']['shop_img'])}" title="{$data['shop']['shop_name']}" alt="{$data['shop']['shop_name']}">
	  </a>
	</span>
	<div class="fi-shop-na">
		<p class="second_shop_name"><a href='{:Url("home/shops/home","shop_id=".$data["shop"]["shop_id"])}'>{:FIMSubstr($data['shop']['shop_name'],0,10)}</a></p>
		<div class="fi-shop-na2">
		{volist name="$data['shop']['accreds']" id="v"}
		<img src="__ROOT__/{$v['accred_img']}"><span>{$v['accred_name']}</span>
		{/volist}
		</div>
		<span class="fi-shop-na3">上次登录：{:session('FI_USER.last_time')}</span>
		<span class="fi-shop-na3">店铺地址：{:FIMSubstr($data['shop']['shop_address'],0,10)}</span>
	</div>
	<div class="fi-shop-eva">
		<p>商品评分</p>
		<div class="fi-shop-evai">
		{for start="0" end="$data['shop']['scores']['goods_score']"}
			<img src="__STATIC__/plugins/raty/img/star-on.png">
		{/for}
		{for start="1" end="6-$data['shop']['scores']['goods_score']"}
			<img src="__STATIC__/plugins/raty/img/star-off.png">
		{/for}
		</div>
	</div>
	<div class="fi-shop-eva">
		<p>时效评分</p>
		<div class="fi-shop-evai">
		{for start="0" end="$data['shop']['scores']['time_score']"}
			<img src="__STATIC__/plugins/raty/img/star-on.png">
		{/for}
		{for start="1" end="6-$data['shop']['scores']['time_score']"}
			<img src="__STATIC__/plugins/raty/img/star-off.png">
		{/for}
		</div>
	</div>
	<div class="fi-shop-eva">
		<p>服务评分</p>
		<div class="fi-shop-evai">
		{for start="0" end="$data['shop']['scores']['service_score']"}
			<img src="__STATIC__/plugins/raty/img/star-on.png">
		{/for}
		{for start="1" end="6-$data['shop']['scores']['service_score']"}
			<img src="__STATIC__/plugins/raty/img/star-off.png">
		{/for}
		</div>
	</div>
	<div class="fi-shop-con">
		<p>电话：{$data['shop']['shop_tel']}</p>
		<p>服务时间：{php}echo date("H:i",strtotime($data['shop']['service_start_time']));{/php}-{php}echo date("H:i",strtotime($data['shop']['service_end_time']));{/php}</p>
	</div>
	<div class="fi-clear"></div>
</div>
{/block}
{block name="js"}{/block}